{% extends "registration/registration_base.html" %}
{% block title %}{% if account %}{% trans 'Activation complete' %}{% else %}{% trans 'Activation problem' %}{% endif %}{% endblock %}
{% block sections %}
    <section>
    {% if account %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% trans 'Thanks' %} {{ account }}, {% trans 'activation complete!' %} {% trans 'You may now' %} <a href='{% url auth_login %}'>{% trans 'login' %}</a> {% trans 'using the username and password you set at registration.' %}
        </div>

    {% else %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% trans "Oops &ndash; it seems that your activation key is invalid.  Please check the url again." %}
        </div>
    {% endif %}
    </section>
    <section class="centeredbutton">
        <a class="btn btn-large" href="{% url home %}">{% trans "Back to Home" %}</a>
    </section>
{% endblock %}

