{% extends "registration/registration_base.html" %}
{% block title %}{% if account %}Activation complete{% else %}Activation problem{% endif %}{% endblock %}
{% block sections %}
    {% if account %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% trans 'Thanks' %} {{ account }}, activation complete!  You may now <a href='{% url auth_login %}'>login</a> using the username and password you set at registration.
        </div>

    {% else %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% trans "Oops &ndash; it seems that your activation key is invalid.  Please check the url again." %}
        </div>
    {% endif %}
{% endblock %}

