{% extends "registration/registration_base.html" %}
{% block title %}{% trans 'Password reset complete' %}{% endblock %}
{% block sections %}
    <section>
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% trans 'Your password has been reset!' %}{% trans 'You may now' %} <a href="{{ login_url }}">{% trans 'log in' %}</a>.
        </div>
    </section>
    <section class="centeredbutton">
        <a class="btn btn-large" href="{% url home %}">{% trans "Back to Home" %}</a>
    </section>
{% endblock %}
