{% extends "registration/registration_base.html" %}
{% block title %}{% trans 'Change password' %}{% endblock %}
{% block sections %}
    <section>
        <div class="container">
            <form method='post' action=''>{% csrf_token %}
                <table>
                    {{ form }}
                    <tr><td></td><td><input type='submit' class="btn btn-primary" value="{% trans 'Change password' %}" /></td></tr>
                </table>
            </form>
        </div>
    </section>
    <section class="centeredbutton">
        <a class="btn btn-large" href="{% url view_profile %}">{% trans "Back to Profile" %}</a>
    </section>
{% endblock %}
