{% extends "registration/registration_base.html" %}{% load i18n %}{% load widget_tweaks %}
{% block title %}{% trans 'Change password' %}{% endblock %}
{% block sections %}
    <section>
        <div class="MainTitle">
            <h3>{% trans "You are Changing Password" %}</h3>
        </div>
    </section>
    <section class="formContent">
        <div>
            <form class="form-horizontal fixedContent" method='post' action='' >{% csrf_token %}
                <div class="control-group">
                    <label class="control-label">{% trans "Old Password" %}</label>
                    <div class="controls">
                        {% for error in form.old_password.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ form.old_password|add_class:"fixedtype" }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans "New Password" %}</label>
                    <div class="controls">
                        {% for error in form.new_password1.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ form.new_password1|add_class:"fixedtype" }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans "Confirm New Password" %}</label>
                    <div class="controls">
                        {% for error in form.new_password2.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ form.new_password2|add_class:"fixedtype" }}
                    </div>
                </div>
                <p class="center"><button type='submit' class="btn btn-primary">{% trans 'Change password' %}</button></p>
            </form>
        </div>
    </section>
    <section class="centeredbutton">
        <a class="btn btn-large" href="{% url view_profile %}">{% trans "Back to Profile" %}</a>
    </section>
{% endblock %}