{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Activation email sent" %}{% endblock %}
{% block sections %}
    <section>
        <div class="alert alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>{% trans "Info!" %}</h4>
            {% trans "An activation email has been sent.  Please check your email and click on the link to activate your account." %}
            {% trans "* Check your SPAM inbox" %}
        </div>
    </section>
    <section class="centeredbutton">
        <a class="btn btn-large" href="{% url home %}">{% trans "Back to Home" %}</a>
    </section>
{% endblock sections %}

