{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Correo eléctronico de Activación enviado" %}{% endblock %}
{% block sections %}
    <section>
        <div class="alert alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>{% trans "Info!" %}</h4>
            {% trans "Se ha enviado el enlace de activación a tu cuenta de correo electrónico. Por favor revisa tu bandeja de correo electronico y haz clic en el enlace para activar tu cuenta" %}
        </div>
    </section>
    <section class="centeredbutton">
        <a class="btn btn-large" href="{% url home %}">{% trans "Back to Home" %}</a>
    </section>
{% endblock sections %}

