{% extends "base.html" %}
{% load i18n %}{% load widget_tweaks %}{% load url from future %}
{% block title %}
    {% trans 'Messages List' %}
{% endblock %}
{% block sections %}
    <section>
        <div class="container MainTitle">
            <h3>{% trans "Messages" %}</h3>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <table class="table table-striped">
                <tr>
                    <th>{% trans 'From' %}</th>
                    <th>{% trans 'Meessage Subject' %}</th>
                    <th>{% trans 'Date' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
                {% for message in msgs %}
                    <tr {% if not message.is_read %}class="success"{% endif %}>
                        <td>
                        {% if message.from_user.get_profile.image %}
                            <img src="{{ message.from_user.get_profile.image.url }}"  class="img-rounded" width="35px"/>
                        {% else %}
                            <img src="{{ STATIC_URL }}img/default_profile.png" alt="{{ user.get_full_name }}" class="img-rounded"  width="35px"/>
                        {% endif %}
                        {{ message.from_user.get_full_name }}
                        </td>
                        <td><a href="{% url 'view_conversation' message.from_user_id message.id %}">{{ message.subject }}</a></td>
                        <td><a href="{% url 'view_conversation' message.from_user_id message.id %}">{{ message.created_at }}</a></td>
                        <td><a href="{% url 'view_conversation' message.from_user_id message.id %}" class="btn {% if message.is_read %}btn-success{% else %}btn-warning{% endif %}">{% trans 'View' %}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}
{% block footerscripts %}
    {{ block.super }}
{% endblock footerscripts %}