{% extends 'base.html' %}
{% load i18n %}{% load widget_tweaks %}
{% block sections %}
    <section>
        <div class="container MainTitle">
            <h3>{% trans "You are Adding a New Subject" %}</h3>
        </div>
    </section>
    <section class="formContent">
        <div class="container">
            <form class="form-horizontal fixedContent" method='post' action='' id="subject_course_form" enctype="multipart/form-data">{% csrf_token %}
                <div class="control-group">
                    <label class="control-label">{% trans "Subject Title" %}</label>
                    <div class="controls">
                        {% for error in subject_form.title.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ subject_form.title|add_class:"fixedtype"|attr:"maxlength:80" }}
                        <span class="help-inline">{% trans "80 characters Maximum" %}</span>
                    </div>
                </div>
            </form>
            <div class="buttons-dashboard">
                <button type="submit" form="subject_course_form" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% trans "Add Subject" %}</button>
            </div>
        </div>
    </section>

    <section class="centeredbutton">
        <a class="btn btn-large" href="{% url building_course course_id %}">{% trans "Back to Course" %}</a>
    </section>
{% endblock %}