{% extends 'base.html' %}
{% load i18n %}{% load widget_tweaks %}
{% block sections %}
    <section>
        <div class="container MainTitle">
            <h3>{% trans "You are Adding a Lesson" %}</h3>
        </div>
    </section>
    <section class="formContent">
        <div class="container">
            <form class="form-horizontal fixedContent" method='post' action='' id="lesson_course_form" enctype="multipart/form-data">{% csrf_token %}
                <div class="control-group">
                    <label class="control-label">{% trans "Lesson Title" %}</label>
                    <div class="controls">
                        {% for error in lesson_form.title.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ lesson_form.title|add_class:"fixedtype"|attr:"maxlength:100" }}
                        <span class="help-inline">{% trans "100 characters Maximum" %}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans "Is Preview" %}</label>
                    <div class="controls">
                        {% for error in lesson_form.is_preview.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ lesson_form.is_preview|add_class:"fixedtype"}}
                        <span class="help-inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans "Video" %}</label>
                    <div class="controls">
                        {% for error in video_form.original_video_file.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ video_form.original_video_file|add_class:"fixedtype" }}
                        <span class="help-inline">{% trans 'Format' %}: MP4, WMV, MPEG, MOV, AVI</span>
                    </div>
                </div>
            </form>
            <div class="buttons-dashboard">
                <button type="submit" form="lesson_course_form" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% trans "Add Lesson" %}</button>
            </div>
        </div>
    </section>

    <section class="centeredbutton">
        <a class="btn btn-large" href="{% url building_course subject.course_id %}">{% trans "Back to Course" %}</a>
    </section>

    <!-- Modal -->
    <div id="loading-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <h2>{% trans 'Uploading Files...' %}</h2>
        <img src="{{ STATIC_URL }}img/loading.gif" />
    </div>
{% endblock %}