{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1>Teaching</h1>
    <a href="{% url dashboard %}">Back to Dashboard</a>
    <a href="{% url new_course %}"> | {% trans 'Create Course' %}</a>
    {% for course in courses %}
        <div class="teaching_course" style="background-color: #d9edf7;">
            <p style="font-weight: bold;">{{ course.title }}</p>
            <p>{% trans 'Students' %}:{{ course.enrollments.all|length }}</p>
        </div>
    {% endfor %}
{% endblock %}