{% extends 'base.html' %}{% load thumbnail %}
{% load i18n %}
{% block sections %}
    <section class="centeredbutton">
            <div class="btn-group" data-toggle="buttons-radio">
                <a href="{% url learning %}" class="btn btn-large btn-primary ">{% trans "Learning" %}</a>
                <a href="{% url teaching %}" class="btn btn-large btn-primary active">{% trans "Teaching" %}</a>
            </div>
    </section>
    <section class="cursosResultado">
        <div class="container">
            <div class="row-fluid">
                <div class="boxLine">
                    {% for course in courses %}
                        <div class="span3 cursoBox">
                            {% if course.image %}
                                {% thumbnail course.image "238x135" as im %}
                                    <div class="boxTitleBG" style="background-image: url({{ im.url }});background-size:100% 100%;"></div>
                                {% endthumbnail %}
                            {% else %}
                                <div class="boxTitleBG" style="background-image: url('{{ STATIC_URL }}/img/dafault_image_course.gif');background-size:100% 100%;"></div>
                            {% endif %}
                            <div class="boxTitle" >
                                {{ course.title }}
                            </div>
                            <div class="boxDescription">
                                <p>
                                    {{ course.short_description|truncatewords:14 }}
                                </p>
                            </div>
                            <div class="boxInfoFooter center">
                                <i class="icon-user"></i> {{ course.enrollments.count }} {% trans "Students" %}
                                <i class="icon-eye-open"></i> {% trans "Status" %}: <span class="label label-{% if course.status.name == 'published' %}success{% elif course.status.name == 'evaluation period' %}info{% elif course.status.name == 'checking' %}warning{% elif course.status.name == 'frozen' %}inverse{% endif %}">{% trans course.status.name %}</span>
                                {% if course.status.name == "building" %}
                                    <a class="btn btn-info" href="{% url building_course course.id %}">{% trans "Continue Building" %}</a>
                                    <a class="btn btn-warning" href="{% url learning_course course.id %}">{% trans "Preview Your Course" %}</a>
                                {% elif course.status.name == "evaluation period" or course.status.name == "published" %}
                                    <a class="btn btn-success" href="{% url learning_course course.id %}">{% trans "View Your Course" %}</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="centeredbutton">
        <a class="btn btn-inverse btn-large" href="{% url new_course %}">{% trans "Create a New Course" %}</a>
    </section>
{% endblock %}
{% block footer %}
{% endblock %}