{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1>Teaching</h1>
    <a href="{% url dashboard %}">Back to Dashboard</a>
    <a href="{% url new_course %}"> | {% trans 'Create Course' %}</a>
    {% for course in courses %}
        <div class="teaching_course" style="background-color: #d9edf7;">
            <p style="font-weight: bold;">{{ course.title }} -- {% trans 'Status' %}: {{ course.status.name }}</p>
            {%  if course.status.name == 'published' %}
                <p>{% trans 'Students' %}:{{ course.enrollments.all|length }}</p>
                <p><a href="{% url view_course course.slug %}">{% trans 'View' %}</a></p>
            {% endif %}
            {%  if course.status.name == 'building' %}
                <p><a href="{% url edit_course course.id %}">{% trans 'Edit' %}</a></p>
                <p><a href="#">{% trans 'Delete' %}</a></p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}