{% extends 'base.html' %}
{% load i18n %}
{% block sections %}
    <h1>{% trans "Learning Courses" %}</h1>
    <section class="cursosResultado">
        <div class="container">
            <div class="row-fluid">
                <div class="boxLine">
                    {% for enrrolment in enrollments %}
                        <div class="span3 cursoBox">
                            <a href="{% url learning_course enrrolment.course.id %}">
                                <div class="boxTitleBG" style="background-image: url({{ enrrolment.course.image.url }});background-size: contain;">
                                </div>
                            </a>
                            <div class="boxTitle" >
                                <a href="{% url learning_course enrrolment.course.id %}">{{ enrrolment.course.title }}</a>
                            </div>
                            <div class="boxDescription">
                                <p>
                                    {{ enrrolment.course.short_description|truncatewords:14 }}
                                </p>
                            </div>
                            <div class="boxInfoFooter center">
                                <a class="btn btn-info" href="{% url learning_course enrrolment.course.id %}">{% trans "Enter" %}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <a class="btn btn-block" href="{% url dashboard %}">{% trans "Back to Dashboard" %}</a>
    </section>
{% endblock %}