{% extends 'base.html' %}{% load thumbnail %}
{% load i18n %}
{% block sections %}
    <section class="centeredbutton">
        <div class="btn-group" data-toggle="buttons-radio">
            <a href="{% url learning %}" class="btn btn-large btn-primary active">{% trans "Learning" %}</a>
            <a href="{% url teaching %}" class="btn btn-large btn-primary">{% trans "Teaching" %}</a>
        </div>
    </section>
    <section class="cursosResultado">
        <div class="container">
            <div class="row-fluid">
                <div class="boxLine">
                    {% for enrrolment in enrollments %}
                        <div class="span3 cursoBox">
                            <a href="{% url learning_course enrrolment.course.id %}">
                                {% if course.image %}
                                    {% thumbnail course.image "238x135" as im %}
                                        <div class="boxTitleBG" style="background-image: url({{ im.url }});background-size:100% 100%;"></div>
                                    {% endthumbnail %}
                                {% else %}
                                    <div class="boxTitleBG" style="background-image: url('{{ STATIC_URL }}/img/dafault_image_course.gif');background-size:100% 100%;"></div>
                                {% endif %}
                            </a>
                            <div class="boxTitle" >
                                <a href="{% url learning_course enrrolment.course.id %}">{{ enrrolment.course.title }}</a>
                            </div>
                            <div class="boxDescription">
                                <p>
                                    {{ enrrolment.course.short_description|truncatewords:14 }}
                                </p>
                            </div>
                            <div class="boxInfoFooter center">
                                <a class="btn btn-info" href="{% url learning_course enrrolment.course.id %}">{% trans "Enter" %}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}