{% extends 'base.html' %}
{% load i18n %}{% load widget_tweaks %}
{% block sections %}
    <section>
        <div class="container MainTitle">
            <h3>{% trans "You are Editing: " %}{{ course.title }}</h3>
        </div>
    </section>
    <section class="formContent">
        <div class="container">
            <form class="form-horizontal fixedContent" method='post' action='' id="creating_course_form" enctype="multipart/form-data">{% csrf_token %}
                <div class="control-group">
                    <label class="control-label">{% trans "Course Title" %}</label>
                    <div class="controls">
                        {% for error in course_form.title.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ course_form.title|add_class:"fixedtype" }}
                        <span class="help-inline">{% trans "80 characters Maximum" %}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans "Price" %}</label>
                    <div class="controls">
                        {% for error in course_form.price.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ course_form.price|add_class:"fixedtype" }}
                        <span class="help-inline">{% trans "10 € Minimum" %}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >{% trans "Short Description" %}</label>
                    <div class="controls">
                        {% for error in course_form.short_description.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ course_form.short_description|add_class:"fixedtype shortdescription" }}
                        <span class="help-inline">{% trans "160 characters Maximum" %}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >{% trans "Image" %}</label>
                    <div class="controls">
                        {% for error in course_form.image.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ course_form.image|add_class:"fixedtype" }}
                        <span class="help-inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >{% trans "Promo Video" %}</label>
                    <div class="controls">
                        {% for error in course_form.video.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ course_form.video|add_class:"fixedtype" }}
                        <span class="help-inline">{% trans 'Youtube Promo Video ID' %} <a href="#youtube-help" data-toggle="modal"><i class="icon-question-sign"></i></a></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans "Category" %}</label>
                    <div class="controls">
                        {% for error in course_form.category.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ course_form.category|add_class:"fixedtype" }}
                        <span class="help-inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans "Language" %}</label>
                    <div class="controls">
                        {% for error in course_form.language.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ course_form.language|add_class:"fixedtype" }}
                        <span class="help-inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >{% trans "Presentation" %}</label>
                    <div class="controls">
                        {% for error in course_form.large_description.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ course_form.large_description|add_class:"fixedtype largedescription" }}
                        <span class="help-inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >{% trans "Allow Download Videos" %}</label>
                    {% for error in course_form.download_allowed.errors %}
                        <span class="text-error">{{ error }}</span>
                    {% endfor %}
                    {{ course_form.download_allowed|add_class:"fixedtype" }}
                </div>
                <hr/>
                <div class="control-group">
                    <label class="control-label">{{ course_form.price_test1.label }}</label>
                    <div class="controls">
                        {% for error in course_form.price_test1.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ course_form.price_test1|add_class:"fixedtype"|attr:"placeholder:10" }}
                        <span class="help-inline">{% trans "10 € Minimum" %}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{{ course_form.price_test2.label }}</label>
                    <div class="controls">
                        {% for error in course_form.price_test2.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ course_form.price_test2|add_class:"fixedtype"|attr:"placeholder:10" }}
                        <span class="help-inline">{% trans "10 € Minimum" %}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{{ course_form.price_test3.label }}</label>
                    <div class="controls">
                        {% for error in course_form.price_test3.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ course_form.price_test3|add_class:"fixedtype"|attr:"placeholder:10" }}
                        <span class="help-inline">{% trans "10 € Minimum" %}</span>
                    </div>
                </div>
                <p class="center"><button type="submit" form="creating_course_form" class="btn btn-primary"><i class="icon-refresh icon-white"></i> {% trans "Update Course" %}</button></p>
            </form>
        </div>
    </section>

    <section class="centeredbutton">
        <a class="btn btn-large" href="{% url building_course course.id %}">{% trans "Back to Course" %}</a>
    </section>

    <!-- Modal -->
    <div id="youtube-help" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Youtube ID</h3>
        </div>
        <div class="modal-body">
            <img src="{{ STATIC_URL }}img/youtube-help.jpg" alt="Youtube Help"/>
        </div>
    </div>
{% endblock %}
{% block footerscripts %}
    {{ block.super }}

{% endblock footerscripts %}