{% extends 'base.html' %}
{% load url from future %}{% load thumbnail %}{% load i18n %}
{% block sections %}
    {% if not user.is_authenticated %}
        <section class="bodyGradient new-gradient">
            <div class="row-fluid mainSplash">
                <div class="span12 center">
                    <div id="slider-home" class="carousel slide" data-interval="2500">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item"><a href="/pages/enjoy-learning/"><img src="{{ STATIC_URL }}img/slider/slider1.png"></a></div>
                            <div class="item"><a href="/pages/enjoy-teaching/"><img src="{{ STATIC_URL }}img/slider/slider2.png"></a></div>
                            <div class="item"><a href="/pages/enjoy-helping/"><img src="{{ STATIC_URL }}img/slider/slider3.png"></a></div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#slider-home" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#slider-home" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <section class="cursosResultado">
        <div class="container">
            <div class="row-fluid searchBar">
                <div class="span12 center">
                    <!-- linea divisora -->
                    <h3><a href="#enrroll-beta" role="button" data-toggle="modal">{% trans 'We are in beta only for teachers.Sign Up Now and create your courses!' %}</a></h3>
{#                    <h4 class="users_count">{% blocktrans %}We are already {{ users_count }} Users!!{% endblocktrans %}</h4>#}
                    <hr/>
                    <form class="form-search" method="post" action="">{% csrf_token %}
                        <div class="input-append">
                            <input name="query" type="text"class="span12" id="appendedInputButtons" placeholder="{% trans "Search courses...." %}" />
                            <button type="submit" class="btn btn-primary search-button"><i class="icon-search icon-white"></i> {% trans "Search" %}</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row-fluid">
                <h3>{% trans 'Featured Courses' %}</h3>
                <hr/>
                <div class="boxLine">
                    {% for course in featured %}
                        <div class="span3 cursoBox">
                            <a href="{% url "view_course" course.slug %}">
                                {% if course.image %}
                                    {% thumbnail course.image "238x135" as im %}
                                        <div class="boxTitleBG" style="background-image: url({{ im.url }});background-size:100% 100%;"></div>
                                    {% endthumbnail %}
                                {% else %}
                                    <div class="boxTitleBG" style="background-image: url('{{ STATIC_URL }}/img/dafault_image_course.gif');background-size:100% 100%;"></div>
                                {% endif %}
                            </a>
                            <div class="boxTitle" >
                                <a href="{% url "view_course" course.slug %}">{{ course.title }}</a>
                            </div>
                            <div class="boxDescription">
                                <p>
                                    {{ course.short_description|truncatewords:13 }}
                                </p>
                            </div>
                            <div class="boxInfoFooter">
                                <div class="headerTitle">
                                    <div class="leftSide">{% trans "Enrolls" %}</div>
                                    <div class="middleSide">{% trans "Price" %}</div>
                                    <div class="rightSide">{% trans "Points" %}</div>
                                </div>
                                <div class="footerInfo">
                                    <div class="leftSide">{{ course.enrollments.count }}</div>
                                    <div class="middleSide">{{ course.price }} &euro;</div>
                                    <div id="curso-{{ course.id }}"  data-rating="{{ course.get_scoring }}" class="star rightSide"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <h3>{% trans 'More Courses' %}</h3>
                <hr/>
                <div class="boxLine">
                    {% for course in courses %}
                        <div class="span3 cursoBox">
                            <a href="{% url "view_course" course.slug %}">
                                {% if course.image %}
                                    {% thumbnail course.image "238x135" as im %}
                                        <div class="boxTitleBG" style="background-image: url({{ im.url }});background-size:100% 100%;"></div>
                                    {% endthumbnail %}
                                {% else %}
                                    <div class="boxTitleBG" style="background-image: url('{{ STATIC_URL }}/img/dafault_image_course.gif');background-size:100% 100%;"></div>
                                {% endif %}
                            </a>
                            <div class="boxTitle" >
                                <a href="{% url "view_course" course.slug %}">{{ course.title }}</a>
                            </div>
                            <div class="boxDescription">
                                <p>
                                    {{ course.short_description|truncatewords:13 }}
                                </p>
                            </div>
                            <div class="boxInfoFooter">
                                <div class="headerTitle">
                                    <div class="leftSide">{% trans "Enrolls" %}</div>
                                    <div class="middleSide">{% trans "Price" %}</div>
                                    <div class="rightSide">{% trans "Points" %}</div>
                                </div>
                                <div class="footerInfo">
                                    <div class="leftSide">{{ course.enrollments.count }}</div>
                                    <div class="middleSide">{{ course.price }} &euro;</div>
                                    <div id="curso-{{ course.id }}"  data-rating="{{ course.get_scoring }}" class="star rightSide"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div id="enrroll-beta" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Info</h3>
        </div>
        <div class="modal-body ">
            <img src="{{ STATIC_URL }}img/logo-color.png" alt="Trainingme.Net Beta Elearning"/>
            <p></p>
            <p class="justify">Desde el día 13 de Febrero lanzamos nuestra primera versión de TrainingMe.Net. En esta versión hemos habilitado las opciones necesarias para poder crear los cursos, una vez creados serán revisados por nuestro equipo.</p>
            <p class="justify">El próximo día 13 de Marzo abriremos la plataforma para que los alumnos puedan matricularse en los cursos que hayan pasado la revisión.</p>
            <p class="justify">Desde aquí os animamos a que vayáis creando vuestros cursos y subiendo vuestras lecciones.</p>
            <p class="justify"><em>NOTA: En estos momentos aparece en el buscador todos los cursos que están en construcción, una vez se lance la plataforma sólo se verán los cursos que ya han sido revisados.</em></p>
        </div>
    </div>
{% endblock sections %}
{% block footerscripts %}
    {{ block.super }}
    <script type="text/javascript">
        $('.star').raty({
            readOnly: true,
            half: true,
            score: function() {
                return $(this).attr('data-rating');
            }
        });

        $('.carousel').carousel('cycle');
    </script>
{% endblock footerscripts %}