{% extends 'base.html' %}
{% load i18n %}{% load widget_tweaks %}
{% block sections %}
    <section>
        <div class="MainTitle">
            <h3>{% trans "You are Creating a New Course" %}</h3>
        </div>
    </section>
    <section class="formContent">
        <div>
            <form class="form-horizontal fixedContent" method='post' action='' id="creating_course_form" enctype="multipart/form-data">{% csrf_token %}
                <div class="control-group">
                    <label class="control-label">{% trans "Course Title" %}</label>
                    <div class="controls">
                        {% for error in course_form.title.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ course_form.title|add_class:"fixedtype" }}
                        <span class="help-inline">{% trans "80 characters Maximum" %}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans "Price" %}</label>
                    <div class="controls">
                        {% for error in course_form.price.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ course_form.price|add_class:"fixedtype" }}
                        <span class="help-inline">{% trans "10 € Minimum" %}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >{% trans "Short Description" %}</label>
                    <div class="controls">
                        {% for error in course_form.short_description.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ course_form.short_description|add_class:"fixedtype" }}
                        <span class="help-inline">{% trans "160 characters Maximum" %}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >{% trans "Image" %}</label>
                    <div class="controls">
                        {% for error in course_form.image.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ course_form.image|add_class:"fixedtype" }}
                        <span class="help-inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans "Category" %}</label>
                    <div class="controls">
                        {% for error in course_form.category.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ course_form.category|add_class:"fixedtype" }}
                        <span class="help-inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">{% trans "Language" %}</label>
                    <div class="controls">
                        {% for error in course_form.language.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ course_form.language|add_class:"fixedtype" }}
                        <span class="help-inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >{% trans "Presentation" %}</label>
                    <div class="controls">
                        {% for error in course_form.large_description.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                        {{ course_form.large_description|add_class:"fixedtype" }}
                        <span class="help-inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >{% trans "Allow Easy Download Videos" %}</label>
                    {% for error in course_form.download_allowed.errors %}
                        <span class="text-error">{{ error }}</span>
                    {% endfor %}
                    {{ course_form.download_allowed|add_class:"fixedtype" }}
                </div>
            </form>
        </div>
    </section>

    <section class="centeredbutton">
        <button type="submit" form="creating_course_form" class="btn btn-primary">{% trans "Create Course Yeah!" %}</button>
    </section>

    <section class="centeredbutton">
        <a class="btn btn-large" href="{% url teaching %}">{% trans "Back to Dashboard" %}</a>
    </section>
{% endblock %}
{% block footerscripts %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce/basic_config.js"></script>
{% endblock footerscripts %}