{% extends 'base_gradient.html' %}
{% load i18n %}{% load humanize %}{% load thumbnail %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                <section>
                    <div class="container MainTitle">
                        <h3>{{ course.title }}</h3>
                    </div>
                </section>
                <section class="formContent">
                    <div class="container">
                        <div class="presentation">
                            {% thumbnail course.image "300x200" as im %}
                                <img src="{{ im.url }}" class="image_course_description">
                            {% endthumbnail %}
                            {{ course.large_description|safe }}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </section>
                <section class="formContent">
                    <div class="container">
                        <div class="accordion" id="AccordionCurso">
                            {% for subject in course.subjects.all %}
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#AccordionCurso" href="#collapse{{ forloop.counter|apnumber }}">
                                            {% trans 'Subject' %} {{ forloop.counter }} - {{ subject.title }}
                                        </a>
                                        <div  class="arrowAccordion"  data-toggle="collapse" data-parent="#AccordionCurso" href="#collapse{{ forloop.counter|apnumber }}"></div>
                                    </div>
                                    <div id="collapse{{ forloop.counter|apnumber }}" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            {% for lesson in subject.lessons.all %}
                                                <div class="accordionLine">
                                                    {% trans 'Lesson' %} {{ forloop.counter }} - {{ lesson.title }}
                                                    <div id="lesson-{{ lesson.id }}"  data-rating="{{ lesson.get_scoring }}" class="star lesson-start"></div>
                                                    {% if lesson.attach.url %}
                                                        <a href="{{ lesson.attach }}"><div class="btnDownload"></div></a>
                                                    {% endif %}
                                                    {% if lesson.video.converted_video_file_mp4 %}
                                                        <a href="{% url learning_lesson lesson.id %}"><div class="btnVideo"></div></a>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
            <div class="offset2 span2">
                <h4>{% trans 'Teacher' %}</h4>
                <section class="teacher_profile_course">
                    <img src="{{ course.user.get_profile.image.url }}" />
                </section>
            </div>
        </div>
    </div>
{% endblock %}
{% block footerscripts %}
    {{ block.super }}
    <script type="text/javascript">
        $('.star').raty({
            readOnly: true,
            half: true,
            score: function() {
                return $(this).attr('data-rating');
            }
        });
    </script>
{% endblock footerscripts %}