{% extends 'base.html' %}
{% load i18n %}{% load humanize %}{% load elearning_extras %}
{% block sections %}
    <section class="formContent">
        <section class="title-course">
            <div class="container MainTitle">
                <h1>{{ lesson.subject.course.title }}</h1>
            </div>
        </section>
        <div class="container">
            <div class="accordion" id="AccordionCurso">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" href="#?">
                            {% trans 'Subject' %} {{  lesson.subject.order }} - {{ lesson.subject.title }}
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner video-lesson">
                            <h3>{% trans 'Lesson' %} {{  lesson.order }} - {{ lesson.title }}</h3>
                            {% if lesson.video.converted_video_file_mp4 %}
                                <div>
                                    <video id="video_course" class="video-js vjs-default-skin" controls preload="auto" width="100%" data-setup="{}">
                                        <source type='video/mp4' src="{{ lesson.video.converted_video_file_mp4.url }}">
                                        <source type='video/webm' src="{{ lesson.video.converted_video_file_webm.url }}">
                                    </video>
                                </div>
                            {% endif %}
                            <div class="lesson-extras">
                                {% if lesson.attach %}
                                    <div class="pull-right">
                                        <p><a href="{{ lesson.attach.file.url }}"><img src="{{ STATIC_URL }}img/download_attachment.png" alt="{% trans 'Download Attachment' %}"> {% trans 'Download Attachment' %}</a></p>
                                    </div>
                                {% endif %}
                                {% if not lesson|user_had_vote_lesson:user.id and not is_teacher %}
                                    <div class="pull-left">
                                        <p style="color: #fff;">{% trans 'Rate this lesson' %}</p>
                                        <div id="lesson-{{ lesson.id }}"  data-rating="{{ lesson.get_scoring }}" class="star leftSide"></div>
                                    </div>
                                {% else %}
                                    <div class="pull-left">
                                        <p style="color: #fff;">{% trans 'Rating' %}</p>
                                        <div id="lesson-{{ lesson.id }}"  data-rating="{{ lesson.get_scoring }}" class="star-rated leftSide"></div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="lesson_comments">
                <a href="#add_comment_popup" role="button" class="btn btn-warning" data-toggle="modal">{% trans "New Comment" %}</a>
                <ul class="media-list">
                    {% for comment in comments %}
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-polaroid" src="{% if comment.user.get_profile.image %}{{ comment.user.get_profile.image.url}}{% else %}{{ STATIC_URL }}img/default_profile.png{% endif %}"/>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{ comment.user.username }}</h4>
                            <h6>{{ comment.created_at }}</h6>
                            <div class="comment-message">{{ comment.message }}</div>
                            <a href="#reply_comment_popup" data-remote="{% url reply_comment lesson.id comment.id %}" role="button" data-toggle="modal">{% trans "Reply" %}</a>
                            <ul class="media-list">
                                {% for reply in comment.replies.all %}
                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-polaroid" src="{% if reply.user.get_profile.image %}{{ reply.user.get_profile.image.url}}{% else %}{{ STATIC_URL }}img/default_profile.png{% endif %}"/>
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">{{ reply.user.username }}</h4>
                                            <h6>{{ reply.created_at }}</h6>
                                            <div class="comment-message">{{ reply.message }}</div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <section class="centeredbutton">
        <a class="btn btn-large" href="{% url learning_course lesson.subject.course_id %}">{% trans "Back to Course" %}</a>
    </section>
    <!-- Modal -->
    <div id="add_comment_popup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{% trans "New Comment" %}</h3>
        </div>
        <form method="post" action="">{% csrf_token %}
            <div class="modal-body">
                {{ comment_form.as_p }}
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                <button type="submit" class="btn btn-primary">{% trans "Add Comment" %}</button>
            </div>
        </form>
    </div>
    <div id="reply_comment_popup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>{% trans "Reply Comment" %}</h3>
        </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
    </div>
{% endblock %}
{% block footerscripts %}
    {{ block.super }}
    <script type="text/javascript">
        $('.star').raty({
            readOnly: false,
            half: false,
            score: function() {
                return $(this).attr('data-rating');
            },
            size: 24,
            starHalf  : 'star-half-big.png',
            starOff   : 'star-off-big.png',
            starOn    : 'star-on-big.png',
            click: function(score, evt) {
                window.location.href = "{% url vote_lesson lesson.id %}" + score;
            }
        });
        $('.star-rated').raty({
            readOnly: true,
            half: true,
            size : 24,
            starHalf  : 'star-half-big.png',
            starOff   : 'star-off-big.png',
            starOn    : 'star-on-big.png',
            score: function() {
                return $(this).attr('data-rating');
            },
            click: function(score, evt) {
                window.location.href = "{% url vote_lesson lesson.id %}" + score;
            }
        });
    </script>
{% endblock footerscripts %}