{% extends 'base.html' %}
{% load i18n %}
{% block sections %}
    <section>
        <h2>{{ lesson.subject.course.title }}</h2>
        {% if lesson.subject.course.image %}
            <img src="{{ lesson.subject.course.image.url }}" alt="{{ lesson.subject.course.title }}" title="{{ lesson.subject.course.title }}"/>
        {% endif %}

        {% trans 'Lesson' %} - {{ lesson.title }}
        {% if lesson.video.converted_video_file_mp4 %}
            <video id="video_course" class="video-js vjs-default-skin" controls preload="auto" width="940" height="500"
                   data-setup="{}">
                <source type='video/mp4' src="{{ lesson.video.converted_video_file_mp4.url }}">
                <source type='video/webm' src="{{ lesson.video.converted_video_file_webm.url }}">
            </video>
        {% endif %}
        {% if lesson.attach %}
            <p>{% trans 'Extra Content' %}: {{ lesson.attach.file.url }}</p>
        {% endif %}
        {% load elearning_extras %}
        {% if not lesson|user_had_vote_lesson:user.id %}
            <div id="curso-{{ course.id }}"  data-rating="{{ course.get_scoring }}" class="star rightSide"></div>
        {% endif %}
        <p>{% trans 'Stars' %}({{ lesson.votes.all.count }}): {{ lesson.get_scoring }}</p>
    </section>
{% endblock %}
{% block footerscripts %}
    {{ block.super }}
    <script type="text/javascript">
        $('.star').raty({
            readOnly: false,
            half: false,
            score: function() {
                return $(this).attr('data-rating');
            },
            click: function(score, evt) {
                //alert("{% url vote_lesson lesson.id %}" + score);
                window.location.href = "{% url vote_lesson lesson.id %}" + score;
            }
        });
    </script>
{% endblock footerscripts %}