{% extends 'base.html' %}
{% load i18n %}{% load humanize %}{% load thumbnail %}
{% block title %}
    {% trans 'Course of ' %}{{ course.title }} #{{ course.category.name|slugify }} v @trainingmenet
{% endblock %}
{% block sections %}
    <section class="view_course_head new-gradient">
        <div class="container">
            <div class="row">
                <div class="image_view_course span5">
                    {% if course.video %}
                        <iframe id="ytplayer_learn" type="text/html" width="470" height="310" autoplay="" src="https://www.youtube.com/embed/{{ course.video }}?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" allowfullscreen="">Tu navegador no soporta Iframes</iframe>
                    {% else %}
                        <img id="ytplayer_learn" src="{{ STATIC_URL }}img/default_video_image_es.jpg" />
                    {% endif %}
                    <div class="time-dollar">
                        <h4><img src="{{ STATIC_URL }}/img/dollar.png" /> {% trans '30 Day Money Back Guarantee' %}</h4>
                        <h4><img src="{{ STATIC_URL }}/img/time.png" /> {% trans 'Lifetime Access - No Limits' %}</h4>
                    </div>
                </div>
                <div class="course_details_view_course span7" >
                    <h1>{{ course.title }}</h1>
                    <h2>{{ course.short_description }}</h2>
                    {% if not user.is_authenticated %}
                        <a role="button" data-toggle="modal" href="#enrroll-beta" class="buy_now btn btn-large btn-success">Matricúlate Ahora!!<br/> Por sólo {{ course.price|floatformat:2 }} &euro;</a>
                        <p class="social_reminder">Recuerda que se destinarán {{ course.social_amount|floatformat:2 }} &euro; <br/> a proyectos sociales de educación</p>
                    {% else %}
                        {% if course.status.name == 'evaluation period' %}
                            <a role="button" data-toggle="modal" href="#enrroll-tester" class="buy_now btn btn-large btn-warning">{% trans 'Test Now!!' %}</a>
                            <p class="social_reminder"><i class="icon-thumbs-up icon-white"></i> {% trans 'If you are interested please help us with your comments' %} </p>
                        {% elif course.status.name == 'published' %}
                            <a href="{% url buy_course course.id %}?express" class="buy_now btn btn-large btn-success">Matricúlate Ahora!!<br/> Por sólo {{ course.price|floatformat:2 }} &euro;</a>
                            <p class="social_reminder">Recuerda que se destinarán {{ course.social_amount|floatformat:2 }} &euro; <br/> a proyectos sociales de educación</p>
                        {% else %}
                            <a role="button" data-toggle="modal" href="#enrroll-beta" class="buy_now btn btn-large btn-primary">Matricúlate Ahora!!<br/> Por sólo {{ course.price|floatformat:2 }} &euro;</a>
                            <p class="social_reminder">Recuerda que se destinarán {{ course.social_amount|floatformat:2 }} &euro; <br/> a proyectos sociales de educación</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class="view_course_content">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <span class='st_facebook_hcount' displayText='Facebook'></span>
                    <span class='st_twitter_hcount' displayText='Tweet'></span>
                    <span class='st_googleplus_hcount' displayText='Google +'></span>
                    <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
                    <span class='st_pinterest_hcount' displayText='Pinterest'></span>
                    <span class='st_email_hcount' displayText='Email'></span>
                    <div class="description" >
                        <p>{% if course.image %}{% thumbnail course.image "238x135" as im %}<img src="{{ im.url }}" />{% endthumbnail %}{% else %}<img src="{{ STATIC_URL }}img/dafault_image_course.gif" />{% endif %}{{ course.large_description }}</p>
                    </div>
                    <section class="formContent view_course_content">
                        {% for subject in course.subjects.all %}
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#AccordionCurso" href="#collapse{{ forloop.counter|apnumber }}">
                                        {% trans 'Subject' %} {{ forloop.counter }} - {{ subject.title }}
                                    </a>
                                    <div class="arrowAccordion" data-toggle="collapse" data-parent="#AccordionCurso" href="#collapse{{ forloop.counter|apnumber }}"></div>
                                </div>
                                <div id="collapse{{ forloop.counter|apnumber }}" class="accordion-body collapse in">
                                    <div class="accordion-inner">
                                        {% for lesson in subject.lessons.all %}
                                            <div class="accordionLine" title="{{ lesson.title }}">
                                                {% trans 'Lesson' %} {{ forloop.counter }} - {{ lesson.title|truncatechars:"65" }}
                                                {% if lesson.attach.url %}
                                                    <div class="btnDownload"></div>
                                                {% endif %}
                                                {% if lesson.video.original_video_file.url %}
                                                    {{ lesson.video.get_video_duration_format }}
                                                    {% if lesson.is_preview and lesson.video.converted_video_file_mp4 %}
                                                        <a data-toggle="modal" href="{% url free_video lesson.video.id %}" data-target="#freeVideo" >
                                                            <div class="btnVideo"></div>{% trans 'View FREE' %}</a>
                                                    {% else %}
                                                        <div class="btnVideo"></div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                </div>
                <div class="left-column span3 offset1">
                    <div id="course-rating">
                        <h4>{% trans 'Course Rating ' %}</h4>
                        <p id="rated-course"  data-rating="{{ course.get_scoring }}" class="star_course_rated"></p>
                    </div>
                    <div class="ratings">
                        <h4>{% trans 'Ratings' %}</h4>
                        {% for course_vote in course.votes.all  %}
                            <div class="media">
                                <a class="pull-left" href="#">
                                    {% if course_vote.user.get_profile.image %}
                                        {% thumbnail course_vote.user.get_profile.image "x45" as im %}
                                            <img  class="media-object"  src="{{ im.url }}" alt="{{ course_vote.user.username }}" />
                                        {% endthumbnail %}
                                    {% else %}
                                        <img  class="media-object" src="{{ STATIC_URL }}img/default_profile.png" alt="{{ course_vote.user.username }}" />
                                    {% endif %}
                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading">{% trans 'By' %} {% if course_vote.user.get_full_name|length %}{{ course_vote.user.get_full_name }}{% else %}{{ course_vote.user.username }}{% endif %}</h6>
                                    <p class="created_at"><span data-rating="{{ course_vote.rating }}" class="user_rating"></span> {% blocktrans with created_at=course_vote.created_at|timesince %} {{ created_at }} ago{% endblocktrans %}</p>
                                    {{ course_vote.comment|truncatechars:220 }}
                                </div>
                            </div>
                            <hr/>
                        {% empty  %}
                            <p>{% trans 'There is no ratings right now' %}</p>
                        {% endfor %}
                    </div>
                    <div class="teacher">
                        <h4>{{ course.user.get_full_name }}</h4>
                        {% if course.user.get_profile.image %}
                            {% thumbnail course.user.get_profile.image "x200" as im %}
                                <img class="img-polaroid" src="{{ im.url }}" alt="{{ user.username }}" />
                            {% endthumbnail %}
                        {% else %}
                            <img src="{{ STATIC_URL }}img/default_profile.png" alt="{{ user.username }}"  class="img-polaroid"/>
                        {% endif %}
                        <p style="margin: 0.8em;"><i class="icon-envelope"></i> <a href="#SendMessageModal" role="button" data-remote="{% url send_message course.user.id %}" data-toggle="modal" title="{% trans 'Send Me a Private Message' %}">{% trans 'Send Me a Private Message' %}</a></p>
                        <h5>{{ course.user.get_profile.subtitle }}</h5>
                        <p class="teacher_description">{{ course.user.get_profile.description }}</p>
                        <ul class="inline">
                            {% if course.user.get_profile.twitter_user %}<li><a href="http://twitter.com/{{ course.user.get_profile.twitter_user }}" target="_blank"><img src="{{ STATIC_URL }}img/twitter-2.png"/></a></li>{% endif %}
                            {% if course.user.get_profile.facebook_url %}<li><a href="{{ course.user.get_profile.facebook_url }}" target="_blank"><img src="{{ STATIC_URL }}img/facebook.png"/></a></li>{% endif %}
                            {% if course.user.get_profile.linkedin_url %}<li><a href="{{ course.user.get_profile.linkedin_url }}" target="_blank"><img src="{{ STATIC_URL }}img/linkedin.png"/></a></li>{% endif %}
                            {% if course.user.get_profile.googleplus_url %}<li><a href="{{ course.user.get_profile.googleplus_url }}" target="_blank"><img src="{{ STATIC_URL }}img/google-plus.png"/></a></li>{% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="freeVideo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="WatchfreeVideo" aria-hidden="true" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="WatchfreeVideo">{% trans 'Free Video' %}</h3>
        </div>
        <div class="modal-body">
        </div>
    </div>
    <!-- Modal BETA -->
    <div id="enrroll-beta" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Info</h3>
        </div>
        <div class="modal-body">
            <img src="{{ STATIC_URL }}img/emaillogo.png" alt="Trainingme.Net Beta Elearning"/>
            {% if not user.is_authenticated %}
                <h3>{% trans 'You need an account' %}</h3>
                <a class="btn btn-warning btn-large" href="/accounts/login/">{% trans 'Sign Up Now!' %}</a>
            {% else %}
                <h4>{% trans 'This course is under construction. Will be available soon.' %}</h4>
            {% endif %}
        </div>
    </div>
    <!-- End Modal BETA -->
    <!-- Send Message Modal -->
    <div id="SendMessageModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-body">

        </div>
    </div>
    <!-- Modal TESTER -->
    <div id="enrroll-tester" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

            <h3>{% trans '¿Quieres ser evaluador?' %}</h3>
        </div>
        <div class="modal-body">
            {% if not user.is_authenticated %}
                <a class="btn btn-warning btn-large" href="/accounts/login/">{% trans 'Create An Account Now!' %}</a>
            {% else %}
                <h4>{% trans 'Please read the following text' %}</h4>
                <p>{% trans 'First we want to thank you to collaborate with our project as an evaluator. The evaluation period lasts a maximum of 30 days, so you can keep forever enrolled must perform the evaluation form.' %}</p>
                <p>{% trans 'We remind you that evaluations is one of the most important parts of this project, so we ask that you do the course thoroughly (helping with your comments on lessons if you think necessary) and performing the evaluation form.' %}</p>
                <p>{% trans 'Both your teacher like us, you are grateful.' %}</p>
                <p>{% trans 'You agree to perform the evaluation, if you think that you will not be able to do it, please let someone else do it.' %}</p>
                {% if course.status.name == 'evaluation period' %}
                    <a href="{% url enrroll_tester course.id %}" class="buy_now btn btn-large btn-success"><i class="icon-ok icon-white"></i> {% trans 'I Agree' %}</a>
                    <a class="btn btn-large btn-danger pull-right" data-dismiss="modal" aria-hidden="true"><i class="icon-remove icon-white"></i> {% trans 'Not, Thank you' %}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <!-- End Modal TESTER -->

{% endblock %}
{% block footerscripts %}
    {{ block.super }}
    <script type="text/javascript">
        $('.star').raty({
            readOnly: true,
            half: true,
            score: function() {
                return $(this).attr('data-rating');
            }
        });
        $('.star_course_rated').raty({
            readOnly: true,
            half: true,
            size : 24,
            starHalf  : 'star-half-big.png',
            starOff   : 'star-off-big.png',
            starOn    : 'star-on-big.png',
            score: function() {
                return $(this).attr('data-rating');
            }
        });
        $('.user_rating').raty({
            readOnly: true,
            half: true,
            size : 24,
            score: function() {
                return $(this).attr('data-rating');
            }
        });

        // Initiate Countdown
        jQuery(document).ready(function() {
            $('#countdown_dashboard').countDown({
                targetOffset: {
                    'day': 		0,
                    'month': 	0,
                    'year': 	1,
                    'hour': 	0,
                    'min': 		0,
                    'sec': 		3
                },
                omitWeeks: true
            });
        });

    </script>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "ed0a3f0d-cd8f-457c-9d3e-a6e8f495b772", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endblock footerscripts %}


