{% extends 'base.html' %}
{% load i18n %}{% load humanize %}{% load thumbnail %}
{% block title %}
    {% trans 'Course of ' %}{{ course.title }} #{{ course.category.name|slugify }} v @trainingmenet
{% endblock %}
{% block sections %}
    <section class="view_course_head new-gradient">
        <div class="container">
            <div class="row">
                <div class="image_view_course span5">
                    {% if course.video %}
                        <iframe id="ytplayer_learn" type="text/html" width="470" height="310" autoplay="" src="https://www.youtube.com/embed/{{ course.video }}?autoplay=1&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" allowfullscreen="">Tu navegador no soporta Iframes</iframe>
                    {% else %}
                        <img id="ytplayer_learn" src="{{ STATIC_URL }}img/default_video_image_es.jpg" />
                    {% endif %}
                </div>
                <div class="course_details_view_course span7" >
                    <h1>{{ course.title }}</h1>
                    <h2>{{ course.short_description }}</h2>
                    <a role="button" data-toggle="modal" href="#enrroll-beta" class="buy_now btn btn-large btn-primary">Matricúlate Ahora!!<br/> Por sólo {{ course.price|floatformat:2 }} &euro;</a>
                    <p class="social_reminder">Recuerda que se destinarán {{ course.social_amount|floatformat:2 }} &euro; <br/> a proyectos sociales de educación</p>
                </div>
            </div>
        </div>
    </section>
    <section class="view_course_content">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <span class='st_facebook_hcount' displayText='Facebook'></span>
                    <span class='st_twitter_hcount' displayText='Tweet'></span>
                    <span class='st_googleplus_hcount' displayText='Google +'></span>
                    <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
                    <span class='st_pinterest_hcount' displayText='Pinterest'></span>
                    <span class='st_email_hcount' displayText='Email'></span>
                    <div class="description" >
                        <p>{% if course.image %}{% thumbnail course.image "238x135" as im %}<img src="{{ im.url }}" />{% endthumbnail %}{% else %}<img src="{{ STATIC_URL }}img/dafault_image_course.gif" />{% endif %}{{ course.large_description }}</p>
                    </div>
                    <section class="formContent view_course_content">
                        {% for subject in course.subjects.all %}
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#AccordionCurso" href="#collapse{{ forloop.counter|apnumber }}">
                                        {% trans 'Subject' %} {{ forloop.counter }} - {{ subject.title }}
                                    </a>
                                    <div  class="arrowAccordion"  data-toggle="collapse" data-parent="#AccordionCurso" href="#collapse{{ forloop.counter|apnumber }}"></div>
                                </div>
                                <div id="collapse{{ forloop.counter|apnumber }}" class="accordion-body collapse in">
                                    <div class="accordion-inner">
                                        {% for lesson in subject.lessons.all %}
                                            <div class="accordionLine">
                                                {% trans 'Lesson' %} {{ forloop.counter }} - {{ lesson.title }}
                                                <div id="lesson-{{ lesson.id }}"  data-rating="{{ lesson.get_scoring }}" class="star lesson-start"></div>
                                                {% if lesson.attach.url %}
                                                    <div class="btnDownload"></div>
                                                {% endif %}
                                                {% if lesson.video.original_video_file.url %}
                                                    <div class="btnVideo"></div>
                                                    {% if lesson.is_preview and lesson.video.converted_video_file_mp4 %}<span class="pull-right"><a data-toggle="modal" href="{% url free_video lesson.video.id %}" data-target="#freeVideo" >{% trans 'View FREE Now' %}</a>
                                                        </span>{% endif %}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                </div>
                <div class="teacher span3 offset1">
                    {% if course.user.get_profile.image %}
                        {% thumbnail course.user.get_profile.image "x200" as im %}
                            <img class="img-polaroid" src="{{ im.url }}" alt="{{ user.username }}" />
                        {% endthumbnail %}
                    {% else %}
                        <img src="{{ STATIC_URL }}img/default_profile.png" alt="{{ user.username }}"  class="img-polaroid"/>
                    {% endif %}
                    <h4>{{ course.user.first_name }} {{ course.user.last_name }}</h4>
                    <h5>{{ course.user.get_profile.subtitle }}</h5>
                    <p class="teacher_description">{{ course.user.get_profile.description }}</p>
                    <ul class="inline">
                        {% if course.user.get_profile.twitter_user %}<li><a href="http://twitter.com/{{ course.user.get_profile.twitter_user }}" target="_blank"><img src="{{ STATIC_URL }}img/twitter-2.png"/></a></li>{% endif %}
                        {% if course.user.get_profile.facebook_url %}<li><a href="{{ course.user.get_profile.facebook_url }}" target="_blank"><img src="{{ STATIC_URL }}img/facebook.png"/></a></li>{% endif %}
                        {% if course.user.get_profile.linkedin_url %}<li><a href="{{ course.user.get_profile.linkedin_url }}" target="_blank"><img src="{{ STATIC_URL }}img/linkedin.png"/></a></li>{% endif %}
                        {% if course.user.get_profile.googleplus_url %}<li><a href="{{ course.user.get_profile.googleplus_url }}" target="_blank"><img src="{{ STATIC_URL }}img/google-plus.png"/></a></li>{% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div id="freeVideo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="WatchfreeVideo" aria-hidden="true" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="WatchfreeVideo">{% trans 'Free Video' %}</h3>
        </div>
        <div class="modal-body">
        </div>
    </div>
    <!-- Modal -->
    <div id="enrroll-beta" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Info</h3>
        </div>
        <div class="modal-body">
            <img src="{{ STATIC_URL }}img/upps-beta.png" alt="Trainingme.Net Beta Elearning"/>
            {% if not user.is_authenticated %}
                <a class="btn btn-warning" href="/accounts/login/">{% trans 'Create An Account Now!' %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block footerscripts %}
    {{ block.super }}
    <script type="text/javascript">
        $('.star').raty({
            readOnly: true,
            half: true,
            score: function() {
                return $(this).attr('data-rating');
            }
        });
    </script>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "ed0a3f0d-cd8f-457c-9d3e-a6e8f495b772", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endblock footerscripts %}


