<html>
<head>
    <title>Fundaci&oacute;n Guadalux</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.raty.min.js"></script>
</head>
<body>
<header>
    {% block header %}
        <div class="navbar-inner">

        </div>
    {% endblock header %}
</header>
{% block sections %}

{% endblock sections %}
<footer>
    {% block footer %}
    {% endblock footer %}
</footer>
<script type="text/javascript">
    $('#starRaitings_1').raty({
        half  : true,
        readOnly   : true,
        noRatedMsg : 'anyone rated this product yet!'
    });
    $('#starRaitings_2').raty({
        half  : true,
        readOnly   : true,
        noRatedMsg : 'anyone rated this product yet!'
    });
    $('#starRaitings_3').raty({
        readOnly   : true,
        half  : true,
        noRatedMsg : 'anyone rated this product yet!'
    });
    $('#starRaitings_4').raty({
        readOnly   : true,
        half  : true,
        noRatedMsg : 'anyone rated this product yet!'
    });
</script>
</body>
</html>