@font-size	: 	12px;
@line-height: 	15px;	
@color: 		#444;
@font-family: 	"Open Sans","Helvetica Neue",Helvetica,Arial;

@font-weight: 	normal;
@error-color:	#F96060;

@border-color:	  #DDDDDD;


@searchInput-font-size: 22px;

@btn-greyday-firstcolor: #555555;
@btn-greyday-secondcolor: #9b9a9a;
@input-search-labelcolor: #c5c4c4;

@splash-form-linecolor:#199bcd;
@blue: #005580 ;

@import url('bootstrap.css');
@import url('bootstrap-responsive.css');

body{
    background-image: url(../img/patron-body.png);
    background-repeat: repeat-x;
	background-color: #ffffff;
    color:@color;
    font-family: @font-family;
    height: 100%;
	margin:0px;
	padding:0px;
}

body.gradientGB{
	background-color: #efefef;
}


.centeredbutton {
  margin-top: 2em;
  text-align: center;
}
.buttons-dashboard {
  text-align: center;
}

#ytplayer_learn {
  display: block;
  text-align: center;
  margin: 0 auto;
}

header{

	.navbar-inner{
		background-image: url(../img/patron-cabecera.png) !important;
		background-repeat: repeat-x;
		height: 55px;
        filter: none;
	}
	.navbar {
		margin-bottom: 0;
		.nav-collapse {
			float:right;
		}
		li.welcomemsg{
			float: none;
			padding: 10px 15px 10px;
			color: white;
			text-decoration: none;
			text-shadow: 0 1px 0 white;
			font-weight:normal;
			background-color: transparent;
			height:25px;
		}
	}

	.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
		color: #3D4296;
		text-decoration: none;
		background-color: white;
		height: 23px;
		font-weight: bold;
	}
	.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
		color: #DDDDDD;
		text-decoration: none;
		background-color: transparent;
	}
	
	.navbar .nav > li > a {
		float: none;
		padding: 10px 15px 10px;
		color: white;
		text-decoration: none;
		text-shadow: 0 1px 0 white;
		font-weight:normal;
		background-color: transparent;
		height:25px;
	}
	
	
	img.headerLogo{
		height: 36px;
		margin-top: 7px;
		margin-left: 5px;
	}

    .flag {
      padding: 10px 0;
    }
	
	
	.welcomeMenuItem{
		padding: 10px 15px 10px;
		color: white;
		text-decoration: none;
		text-shadow: 0 1px 0 white;
		font-weight: normal;
		background-color: transparent;
		height: 25px;
	}
}

.MenuBarResponsiveFirstBG{
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	background-repeat: repeat-x;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	      border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	*zoom: 1;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	 -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.MainTitle{
    margin-top: 1em;
	text-align:left;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
p.social-login{
  text-align: center;
}

div.bodyGradient{
	background-image: url(../img/Body-Gradient-BG.png);
	background-repeat: repeat-x;
	background-position:bottom;
	background-color: white;
	padding:30px 0px;
	height: 500px;
	
}

div.MainContent{
	text-align:center;
}

.form-horizontal .control-label {
	text-align: left;
}

.font-default{
	font-size: @font-size;
	color: @color;
	font-family: @font-family;
	line-height: @font-size;
	font-weight: @font-weight;
}
div.row-fluid .center{
	text-align: center;

}



img.fraseheader{
	margin: 50px 0px;
}

div.screensplash{
	background-image: url(../img/screen-splash.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 550px;
	height: 385px;
}

div.screensplash .btns-splash {
	position: relative;
	top: 390px;
	left: 120px;
	button{
		margin: 0 55px;
	}
}

div.searchBar{
	padding: 15px 0px;

	input[type=text]{
		font-size: @searchInput-font-size;
		color: @input-search-labelcolor;
		height: 36px;
	}
	button{
		line-height: 26px;
	}
}


.btn-greyday {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: @btn-greyday-firstcolor;
	background-image: -moz-linear-gradient(top,@btn-greyday-secondcolor,@btn-greyday-firstcolor);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(@btn-greyday-secondcolor),to(@btn-greyday-firstcolor));
	background-image: -webkit-linear-gradient(top,@btn-greyday-secondcolor,@btn-greyday-firstcolor);
	background-image: -o-linear-gradient(top,@btn-greyday-secondcolor,@btn-greyday-firstcolor);
	background-image: linear-gradient(to bottom,@btn-greyday-secondcolor,@btn-greyday-firstcolor);
	background-repeat: repeat-x;
	border-color: @btn-greyday-firstcolor @btn-greyday-firstcolor #002A80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@btn-greyday-secondcolor',endColorstr='@btn-greyday-firstcolor',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-greyday:hover, .btn-greyday:active, .btn-greyday.active, .btn-greyday.disabled, .btn-greyday[disabled] {
	color: white;
	background-color: @btn-greyday-firstcolor;
}

.span6 pre{
	width:85%;
	
}

p.formTitle{
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px solid @splash-form-linecolor;
	line-height: 25px;
}

fieldset.prettyprint{
	padding: 15px;
	background-color: whiteSmoke;
	border: 1px solid #CCC;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 80%;
}
fieldset form{
	margin: 20px 0px;
	label{
		line-height: 18px;
		font-weight: bold;
	}
}

fieldset .registration-line .span7{
	font-weight: bold;
	line-height: 40px;
}

fieldset .panelPizarra{
	
	border-top: 2px solid #199BCD;
	padding: 10px 5px;
	margin: 12px 0px;
	
	img{
		width: 100px;
		height: 80px;
	}
	button{
		margin:24px;
	}
	
}


section.cursosResultado{
	padding: 20px;

	.cursoBox{
		min-width:280px;
		border: 1px solid #CCCCCC;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		margin:10px 5px;
        background-color: white;

      .boxTitleBG{
        text-align: center;
        height: 135px;
        background-repeat: no-repeat;
        background-position: center top;
      }
      .boxTitleBG img{
        height: 100%;
       }
			

		.boxTitle{
			height: 26px;
			background-color: #005580;
			color: white;
			text-align: center;
			font-weight: bold;
			line-height: 25px;
		}
      .boxTitle a, .boxTitle a:visited{
           color: white;
           text-decoration: none;
         }
		.boxDescription{
			text-align: left;
			padding: 10px;
			min-height: 75px;
		}
		.boxInfoFooter{
			font-size: 12px;
			text-align: center;
			font-weight:bold;
			
			.headerTitle{
				clear:both;
				
				.leftSide{
					float:left;
					width: 85px;
				}
				.middleSide{
					float:left;
					width: 85px;
				}
				.rightSide{
					float:left;
					clear:right;
					width: 98px;
				}
			}
			.footerInfo{
				border-top:1px solid #CCCCCC;
				clear:both;
				.leftSide{
					float:left;
					border-right :1px solid #CCCCCC;
					width: 85px;
				}
				.middleSide{
					float:left;
					border-right :1px solid #CCCCCC;
					width: 80px;
				}
				.rightSide{
					float:left;
					clear:right;
					width: 98px;
				}
			}
		}
	}
	div.totalVentasInfo{
		clear:both;
		height: 45px;
		font-size: 12px;
		text-align: left;
		font-weight:bold;
		span.totalventas{
			padding-left: 25px;
			line-height: 25px;
			font-weight:bold;
		}
		span.totalventasValor{
			padding-left: 5px;
			line-height: 25px;
			font-weight:bold;
			font-size: 1.2em;
			
		}
	}
}

section.nuevoCurso{
	button{
		margin:20px 0px;
	}
}

	section.cursosResultado{
		.centerContent{
			width: 635px;
			margin-left: auto;
			margin-right: auto;
			.span3{
				width:280px;
			}
		}
	}

section.formContent,div.formContent{
	.fixedContent{
		padding: 20px 2%;
		width: 600px;
		margin: 0 auto;
	}
	.form-horizontal .control-group {
		margin-bottom: 5px;
	}
	
	.form-horizontal .control-label {
		float: left;
		width: 160px;
		color: #464646;
		line-height: 25px;
	}

	.form-search input, .form-inline input, .form-horizontal input, .form-search textarea, .form-inline textarea, .form-horizontal textarea, .form-search select, .form-inline select, .form-horizontal select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal .input-append {
		margin-bottom: 0;
		height: 35px;
		font-size: 0.85em;
		float: right;
	}
	
	.fixedtype{
		width:400px;
	}
	

	.btn-group{
		float:left;
		margin-left:20px;
	}
	
	.fixed-control-group{
		height:65px;
	}
	
	textarea.fixedTextarea{
		width: 100%;
		height: 150px;
	}
	
	.accordion-group {
		margin-bottom: 2px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border:0px solid;
	}
	.accordion {
		margin-bottom: 20px;
		padding: 0px 100px;
	}
	
	.accordion-heading {
		background-color: #005096;
		margin-bottom: 10px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		text-align: left;
		
		a{
			color: white;
			text-decoration: none;
			font-size: 20px;
		}
		
		div.arrowAccordion{
			background-image: url(../img/ArrowAccordion.png);
			float: right;
			background-repeat: no-repeat;
			height: 20px;
			width: 20px;
			margin: -27px 10px;
            cursor: pointer;
		}	
		
	}
	
	.accordion-inner{
		.accordionLine{
			text-align: left;
			border: 1px solid #DDD;
			padding: 10px;
			color: #707070;
			background-color: white;
			font-weight: bold;
			height:30px;
			line-height: 30px;
			margin-bottom:10px;
		}
		
		div.linkbtns{
			display:none;
		}
		
		div.btnVideo{
			background-image: url(../img/btnVideo.png);
			float: right;
			background-repeat: no-repeat;
			height: 45px;
			width: 45px;
			margin: -7px 15px;
		}

		div.btnDownload{
			background-image: url(../img/btnDownload.png);
			float: right;
			background-repeat: no-repeat;
			height: 45px;
			width: 45px;
			margin: -7px 5px;
		}	
	}
	
	div.titleLeccion{
		background-color: #005096;
		margin-bottom: 10px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		text-align: left;
		color: white;
		text-decoration: none;
		font-size: 22px;
		padding: 10px;
	}
	
	div.subtitleLeccion{
		margin-bottom: 10px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		text-align: left;
		color: #005096;
		text-decoration: none;
		font-size: 18px;
		padding: 20px;
		
		span{
			padding: 0px 25px;
		}
	}
	
	}

	div.videoSplash{
		background-image: url(../img/default_video_image_es.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center top;
		height: 352px;
	}
	div.btnDownloadVideo{
		float:left;
		line-height: 10px;
		color: #005096;
		font-size: 20px;
		padding: 25px;
	}
	
	div.btnStars{
		float:right;
		padding: 25px;
		color: #005096;
		font-size: 20px;
		padding: 25px;
	}




// Responsive CSS

@media (min-width: 768px) {
	header .navbar .nav > li > a {
		color:white;
	}
	
	header .welcomemenuitem {
		color: white;
	}

	.navbar .nav li.dropdown > a:hover .caret {
		border-top-color: white;
		border-bottom-color: white;
	}

	.navbar .nav li.dropdown > .dropdown-toggle .caret {
  		border-top-color: white;
  		border-bottom-color: white;
	}
	
	section.formcontent .accordion {
		margin-bottom: 20px;
		padding: 0px 100px;
	}
    section div.presentation {
      margin-bottom: 20px;
      padding: 0px 100px;
    }
}

@media (max-width: 768px) {
    #ytplayer_learn {
      width: 380px;
    }
	header .navbar .nav > li > a {
		color:black;
	}
	
	header .welcomemenuitem {
		color: black;
	}
	
	.navbar .nav li.dropdown > a:hover .caret {
		border-top-color: black;
		border-bottom-color: black;
	}

	.navbar .nav li.dropdown > .dropdown-toggle .caret {
  		border-top-color: black;
  		border-bottom-color: black;
	}
	
	section.cursosresultado .row-fluid .cursobox {
		height: 302px;
	}
	
	.responsiveText{
		width: 100%;
		margin: 10px 0px;
	}
	
	.fixed-control-group{
		button{
			font-size:0.8em;
		}
	}
	

	section.formcontent {
		
		.accordion {
			margin-bottom: 20px;
			padding: 0px;
		}
		.accordion-inner .accordionline {
			font-size: 0.7em;
			
			div.linkbtns{
				display:none;
			}
			
			div.btnvideo {
				background-size:contain;
				background-position:center;
				background-size: 50%;
				margin:-5px;
				padding:0px;
			}
			
			div.btnDownload {
				background-size:contain;
				background-position:center;
				background-size: 50%;
				margin:-5px;
				padding:0px;
			}
		}
	}
}

@media (min-width: 979px) and  (max-width: 1240px){

    #ytplayer_learn {
      width: 380px;
    }
	.boxLine{
		clear: both;
		margin: 0px auto;
		width: 600px;
	}
	
	section.cursosResultado{
		.centerContent{
			width: 635px;
			margin-left: auto;
			margin-right: auto;
			.span3{
				width:280px;
			}
		}
	}

	
	div.screensplash .btns-splash {
		position: relative;
		top: 390px;
		left: 50px;
		button{
			margin: 0 70px;
		}
	}
	


 }
 
@media (min-width: 768px) and (max-width: 979px) {

    #ytplayer_learn {
      width: 290px;
    }

	header{	
		.MenuBarResponsiveFirst{
			width: 100%;
			.MenuBarResponsiveFirstBG;
            border: 0;
		}
		
		.MenuBarResponsiveSecond{
			width:100%;
		}
	}
	
	img.main-logo{
		margin:5px;
	}
	
	img.fraseheader{
		padding: 5px 0px;
		float:left;
		width:75%;
	}
	
	div.row-fluid .registration-line{
		font-weight: normal;
		font-size: 0.8em;
		button{
			width: 100%;
		}
	}
	

	div.screensplash{
		background-image: url(../img/screen-splash.png);
		background-repeat: no-repeat;
		background-size:contain;
		background-position:center;
		
	}
	
	div.screensplash .btns-splash {
	position: relative;
	top: 295px;
	left: 36px;
		button{
			margin: 0px 70px;
		}
	}
	
	fieldset.prettyprint{
		margin: 20px 3px 0px 3px;
		width: 90%;
	}
	
	
	.boxLine{
		clear: both;
		margin: 0px auto;
		width: 600px;
	}
	
	
	section.cursosResultado{
		.centerContent{
			width: 635px;
			margin-left: auto;
			margin-right: auto;
			.span3{
				width:280px;
			}
		}
	}
	
	header .navbar .nav > li > a {
		color:black;
	}
	
	header .welcomemenuitem {
		color: black;
	}
	
	.navbar .nav li.dropdown > a:hover .caret {
		border-top-color: black;
		border-bottom-color: black;
	}

	.navbar .nav li.dropdown > .dropdown-toggle .caret {
  		border-top-color: black;
  		border-bottom-color: black;
	}
}

@media (min-width: 480px) and (max-width: 768px) {

	header{	
		.MenuBarResponsiveFirst{
			width: 100%;
			.MenuBarResponsiveFirstBG;
            border: 0;
		}
		
		.MenuBarResponsiveSecond{
			width:100%;
		}
	}
	
	header img.headerlogo {
		width: 185px;
		margin-top: 16px;
		margin-left: 0px;
	}
	
	img.main-logo{
		margin:5px;
	}
	
	img.fraseheader {
		padding: 5px 155px;
		margin: 0px;
		width: 60%;
		float: none;
	}
		
	section.cursosResultado{
		.centerContent{
			width: 285px;
			margin-left: auto;
			margin-right: auto;
			.span3{
				width:280px;
			}
		}
	}

	div.screensplash{
		background-image: url(../img/screen-splash.png);
		background-repeat: no-repeat;
		background-size:contain;
		background-position:center;
		
	}

	fieldset.prettyprint {
		margin: 15px 25px;
		width: 85%;
	}
	
	fieldset .panelpizarra {
		border-top: 2px solid #199BCD;
		padding: 10px 5px;
		margin: 12px 0px;
		text-align: center;
	}
	
	fieldset .panelpizarra button {
		margin: 5px;
	}

	div.searchbar {
		width: 98%;
		padding: 5px;
	}
	
	.boxDescription{
		text-align: left;
		padding: 10px;
		min-height: 50px;
	}
	
	section.formContent{
		.fixedcontent {
			width: 100%;
		}
		.fixedtype{
			width:100%;
		}
	}
}

	
@media (max-width: 480px) {

	header{	
		.MenuBarResponsiveFirst{
			width: 100%;
			.MenuBarResponsiveFirstBG;
            border: 0;
		}
		
		.MenuBarResponsiveSecond{
			width:100%;
		}
	}
	
	
	header img.headerlogo {
		width: 185px;
		margin-top: 16px;
		margin-left: 0px;
	}
	
	img.main-logo{
		margin:5px;
	}
	
	img.fraseheader{
		padding: 5px 40px;
		margin: 0px;
		width: 55%;
		float: none;
	}

	section.cursosresultado {
		padding: 5px;
	}
	section.cursosResultado{
		.centerContent{
			width: 285px;
			margin-left: auto;
			margin-right: auto;
			.span3{
				width:280px;
			}
		}
	}
	
	div.screensplash{
		background-image: url(../img/screen-splash.png);
		background-repeat: no-repeat;
		background-size:contain;
		background-position:center;
		width: 320px;
		
		
	}

	fieldset.prettyprint{
		margin: 20px;
		width: 85%;
	}
	
	fieldset .registration-line .span7 {
		font-weight: bold;
		line-height: 15px;
		font-size: 0.8em;
	}
	
	fieldset .panelpizarra {
		border-top: 2px solid #199BCD;
		padding: 10px 5px;
		margin: 12px 0;
		text-align: center;
	}
	
	fieldset .panelpizarra button {
		margin: 5px;
	}
	
	div.searchbar {
		padding: 10px 5px;
		border-top: 2px solid #005096;
		width: 95%;
	}
	
	div.searchbar input[type="text"] {
		font-size: 0.9em;
	}
	
	section.cursosresultado .row-fluid .cursobox {
		min-width: 260px;
		padding: 2px;
		margin: 10px 0px;
		font-size: 0.9em;
	}
	
	.boxDescription{
		text-align: left;
		padding: 10px;
		min-height: 50px;
	}
	
	section.formContent{
		.fixedcontent {
			width: 100%;
		}
		.fixedtype{
			width:100%;
		}
	}
	
	
	div.subtitleLeccion{
		text-align:center;
	}
	
	.videoContent{
		text-align:center;
	}
	
	div.subtitleleccion span {
		padding: 0px;
		font-size: 0.9em;
	}

	div.btnstars {
		padding: 0px 116px;
		margin: 18px 0px;
	}
	
	div.btnDownloadVideo{
		float:none;
		padding: 25px;
	}
	
	div.btnStars{
		float:none;
		padding: none;
		margin: none;
	}

}

@media (max-width: 320px) {


	header{	
		.MenuBarResponsiveFirst{
			width: 100%;
			.MenuBarResponsiveFirstBG;
		}
		
		.MenuBarResponsiveSecond{
			width:100%;
		}
	}
	
	
	header img.headerlogo {
		width: 185px;
		margin-top: 16px;
		margin-left: 0px;
	}
	
	img.main-logo{
		margin:5px;
		width: 245px
	}
	
	img.fraseheader{
		padding: 5px 40px;
		margin: 0px;
		width: 75%;
		float: none;
	}

	section.cursosResultado{
		.centerContent{
			width: 285px;
			margin-left: auto;
			margin-right: auto;
			.span3{
				width:280px;
			}
		}
	}
	
	div.screensplash{
		background-image: url(../img/screen-splash.png);
		background-repeat: no-repeat;
		background-size:contain;
		background-position:center;
		height: 160px;
		width: 300px;
		
	}

	fieldset.prettyprint{
		margin: 20px;
		width: 75%;
	}
	
	fieldset .registration-line .span7 {
		font-weight: bold;
		line-height: 15px;
		font-size: 0.8em;
	}

	fieldset .panelpizarra {
		border-top: 2px solid #199BCD;
		padding: 10px 5px;
		margin: 12px 0px;
		text-align: center;
	}
	
	fieldset .panelpizarra button {
		margin: 5px;
	}
	
	div.searchbar {
		padding: 10px 5px;
		border-top: 2px solid #005096;
		width: 95%;
	}
	
	div.searchbar input[type="text"] {
		font-size: 0.9em;
	}
	
	section.cursosresultado .row-fluid .cursobox {
		min-width: 260px;
		padding: 2px;
		margin: 10px 0px;
		font-size: 0.9em;
		height: 302px;
	}

	.boxDescription{
		text-align: left;
		padding: 10px;
		min-height: 50px;
	}
	
	section.cursosresultado .row-fluid .cursobox .boxinfofooter .headertitle .leftside {
	width: 80px;
	}

	section.cursosresultado .row-fluid .cursobox .boxinfofooter .headertitle .middleside {
	width: 80px;
	}

	section.cursosresultado .row-fluid .cursobox .boxinfofooter .headertitle .rightside {
	width: 95px;
	}
	
	section.cursosresultado .row-fluid .cursobox .boxinfofooter .footerinfo .middleside {
	width: 70px;
	}
	

	section.formcontent {
		

		.accordion-inner .accordionline {
			height:60px;
			font-size: 0.7em;
			overflow:auto;
			
			div.linkbtns{
				display:block;
			}
			
			div.btnvideo {
				display:none;
			}
			
			div.btnDownload {
				display:none;
			}
		}
	}

}

@media (max-width: 240px) {

	header{	
		.MenuBarResponsiveFirst{
			width: 100%;
			background-color: white;
		}
		
		.MenuBarResponsiveSecond{
			width:100%;
		}
	}
	
	
	header img.headerlogo {
		width: 115px;
		margin-top: 12px;
		margin-left: 0;
	}
	
	section.cursosresultado .row-fluid .cursobox {
		min-width: 190px;
		padding: 2px;
		margin: 10px 0px;
		font-size: 0.8em;
		height: 302px;
	}
	section.cursosresultado .row-fluid .cursobox .curso-asterisk {
		background-size:contain;
		background-position:center;
		width: 182px;
		height: 92px;
	}
	
	section.cursosResultado{
		.centerContent{
			width: 285px;
			margin-left: auto;
			margin-right: auto;
			.span3{
				width:280px;
			}
		}
	}

	fieldset .panelpizarra {
		border-top: 2px solid #199BCD;
		padding: 10px 5px;
		margin: 12px 0;
		text-align: center;
	}
	
	fieldset .panelpizarra button {
		margin: 5px;
	}
	
	section.cursosresultado .row-fluid .cursobox .boxinfofooter {
	font-size: 0.7em;
	}
	
	section.cursosresultado .row-fluid .cursobox .boxinfofooter .headertitle .leftside {
	width: 51px;
	}

	section.cursosresultado .row-fluid .cursobox .boxinfofooter .headertitle .middleside {
	width: 35px;
	}

	section.cursosresultado .row-fluid .cursobox .boxinfofooter .headertitle .rightside {
	width: 65px;
	}

	section.cursosresultado .row-fluid .cursobox .boxinfofooter .footerinfo .leftside {
	width: 55px;
	}

	section.cursosresultado .row-fluid .cursobox .boxinfofooter .footerinfo .middleside {
	width: 25px;
	}
}

img.subject-icon {
  float: left;
  padding: 3px 0 0 3px;
}

img.lesson-icon {
  float: right;
  padding: 3px 0 0 3px;
}

.shortdescription {
  height: 75px !important;
}
.largedescription {
  height: 150px !important;
}

div.presentation {
  background-color: #ffffff;
  border: 1px solid #333333;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: justify;
  min-height: 170px;
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  font-style: italic;
  color: #666;

}
.image_course_description {
  float: left;
  padding: 20px;
}
section.teacher_profile_course {
  background-color: #ffffff;
  border: 1px solid #333333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 250px;
}
section.teacher_profile_course img {
  float: left;
  padding: 10px 0 0 10px ;
  width: 40%;
}
.lesson-start {
  float: right;
}
.display-block {
  display: block;
}
dl#financial-details {
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
  border: 1px solid #ddd;
}
dl#profile-details {
   border-radius: 4px;
   background-color: #f9f9f9;
   color: #333;
   padding: 20px;
   border: 1px solid #ddd;
 }
.navbar-inner {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.course_price .price{
    font-size: 3em;
}
.course_price .social_amount{
  font-size: 1.5em;
  font-weight: bold;
}
.title-home {
  padding-top: 20px;
  font-size: 2em;
  font-weight: bold;
  color: #0c283d;
}
.title-home a{
  text-shadow: 1px 1px #888888;
  -moz-text-shadow: 1px 1px #888888;
  -webkit-text-shadow: 1px 1px #888888;
  -o-text-shadow: 1px 1px #888888;
  color: #0c283d;
}
.title-home a:hover{
  color: #999999;
  text-decoration: none;
}

ul.course-teacher {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: left;
  padding: 0.6em;

  li.avatar{
    display: inline-block;
    height: 20%;
    position: relative;
    vertical-align: top;
    width: 20%;
  }
  li.teaching {
    display: inline-block;
    font-style: italic;
    text-align: left;
    width: 77%;

    p {
      margin-bottom: 3px;
    }

    p.teacher-subtitle {
      font-weight: normal;
    }
  }
}

h4.users_count {
  color: #df8505;
}
.subtitle-home {
  font-style: italic;
  color: #eeeeee;
  font-weight: bold ;
}

.new-gradient {
  background-image: url(../img/patron-barracentro.png);
  background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-repeat: repeat-x;
  min-height: 440px;
}
h3 {
  color: #0d6bb3;
  text-align: center;
}

.form-horizontal{
  padding: 2%;
  background-color: #fcfcfc;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  --moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 5px 5px 10px #a5a5a5;
}

button.search-button{
  -webkit-border-radius: 0 4px 4px 0 !important;
  -moz-border-radius: 0 4px 4px 0 !important;
  border-radius: 0 4px 4px 0 !important;
}

/*
ESTILOS DEL CURSO
*/
/*Cabecera del curso*/
section.view_course_head .container .row{
  margin-top: 40px;
}
section.view_course_head .course_details_view_course {
  color: #fafafa;
  text-align: center;
}
section.view_course_head .course_details_view_course h1{
  line-height: normal;
  font-size: 2em;
  font-family: 'Delius Unicase', cursive;
}
section.view_course_head .course_details_view_course h2{
  font-size: 1em;
  font-style: italic;
}
section.view_course_head .course_details_view_course a.buy_now{
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1em;
}
section.view_course_head .course_details_view_course p.social_reminder{
   font-size: 1.2em;
   padding-top: 20px;
 }
/*Contenido del curso*/
div.description {
  margin-top: 15px;
  overflow: hidden;
}
div.description p{
  overflow: hidden;
  padding: 15px;
}
div.description p img{
  float: left;
  height: 135px;
  width: 278px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.view_course_content {
  margin-top: 20px;
}
div.teacher p,div.description p,.course_details_view_course h2 {
  white-space: pre-line;
}

/* Teacher Private Profile */
textarea.fixedtype{
  min-height: 30%;
  resize: vertical;
}
p.center {
  margin-top: 2%;
  text-align: center;
}
section.teacher_private_profile,section.confirm_order{
  .container{
    background-color: #fcfcfc;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    --moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 5px 5px 10px #a5a5a5;
    margin-top: 2em;

    .row .span3 {
      text-align: center;
      overflow: hidden;
    }
    .row .span9 dl {
      margin-right: 2em;
    }
    .row .span9 dl dd {
      margin-top: 2em;
      white-space: pre-line;
      text-align: justify;
    }

  }
}

/* Lesson and Preview Lesson Styles*/
div.lesson-extras{
  color: #ffffff;
  font-weight: bold;
  background-color: #005096;
  border-radius: 0 0 20px 20px;
  --moz-border-radius: 0  0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  padding: 0.5em;
  overflow: hidden;

  a{
    color: #ffffff;
  }
}

section.title-course div h1 {
  color: #005096;
  font-family: @font-family;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}
/* Social Projects */

div.page {
  background-color: #fcfcfc;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  --moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 5px 5px 10px #a5a5a5;
  padding: 20px;
  text-align: center;
}


.imagen-head {
  margin-top: 10%;
}

.ensenando-page-head {
  background-image: url(../img/patron-barracentro3.png);
  background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-repeat: repeat-x;
  min-height: 440px;
}
.aprendiendo-page-head {
  background-image: url(../img/patron-barracentro2.png);
  background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-repeat: repeat-x;
  min-height: 440px;
}
.ayudando-page-head {
  background-image: url(../img/patron-barracentro2.png);
  background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-repeat: repeat-x;
  min-height: 440px;
}

.page-description-justify{
  text-align: justify;
}

#teach_player {
  margin-top: 12%
}

section#social-projects .container {
  background-color: #fcfcfc;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  --moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 5px 5px 10px #a5a5a5;
  padding: 20px;
  text-align: center;

  img.social-now {
    width: 98%;
  }
}
div.image-logo {
  overflow: hidden;
}


img.social-featured {
  width: 100%;
}
div.social-now-titles{
  padding: 1em 0;
}
div.title-now-project {
  span {
    background-color: #4bb1cf;
    border: 1px solid #3399ff;
    display: inline-block;
    color: #fcfcfc;
    font-size: 2em;
    padding: 0.5em;
    margin-top: 1em;
    width: 100%;
  }
}
div.image-logo {
  span {
    background-color: #333333;
    border: 1px solid #000000;
    display: inline-block;
    color: #fcfcfc;
    font-size: 2em;
    padding: 0.5em;
    margin-top: 1em;
    width: 100%;
  }
}
div.progress-project {
  font-size: 1.4em;
  font-weight: bold;
  overflow: hidden;
}

div.now-project-info div.span4 div,div.now-project-info div.span4 p {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.5em;
  text-align: center;
}

div.description-project p {
  text-align: justify;
  white-space: pre-line;
}

/* Footer */

footer {
  background-image: url(../img/patron-footer.png);
  background-repeat: repeat-x;
  background-size: contain;
  color: #fcfcfc;
  margin-top: 1em;
  min-height: 196px;
  text-align: center;
  h4 {
    text-align: center;
    margin-top: 1em;
  }
  h3 {
    color: #fcfcfc;
  }
  ul li {
    text-align: right;
    line-height: 2em;
  }
}
footer a,footer a:hover {
   color: #fcfcfc;
 }
.video-lesson{
  overflow: hidden;
}
#freeVideo .modal-body {
  min-height: 300px;
  margin: 1.5em;
}
.video-js-modal {
  position: static !important;
  width: 100% !important;
  height: 100% !important;
}

/* Carrusel */

.item img{
  margin: 0 auto;
}
.carousel-control{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
 Efecto Sombra
*/

/*Teacher Profile in course view*/
div.teacher {
  padding-top: 10px;
  text-align: center;
  background-color: #fcfcfc;
  position: relative;
}
div.teacher h4 {
  text-align: center;
  padding: 0 10px;
}
div.teacher p,  div.teacher h5 {
  text-align: left;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding: 0 10px;
}
.teacher:before, .teacher:after {
/* Posiciona la sobora por detras del color de la caja*/
  z-index: -1;
  position: absolute;
/* no aplico ningún contenidos HTML */
  content: "";
/* posiciona la sombra con respecto al borde inferior, izquierdo y superior */
  bottom: 15px;
  left: 10px;
  top: 80%;
/* configura el ancho */
  width: 50%;
/* color de fondo */
  background: #777;
/* definicion de la sombra estandar para box-shadow */
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
/* rotacion de la sombra */
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.teacher:after {
/* rotacion de la sombra */
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
/* posiciona la sombra con respecto al borde izquierdo y derecho */
  right: 10px;
  left: auto;
}
.justify {
  text-align: justify;
}

#enrroll-beta .modal-body, #loading-modal {
  text-align: center;
}

/* TEAM */
section#team {
  text-align: center;

  h1 {
    color: #fafafa;
    font-family: 'Delius Unicase',cursive;
    font-size: 3em;
    text-align: center;
  }
  h2 {
    color: #fafafa;
    font-family: 'Delius Unicase',cursive;
    font-size: 2em;
    text-align: center;
  }
  h5, h4{
    color: #fcfcfc;
  }
  h5{
    font-style: italic;
  }
  img.team-image{
    height: 150px;
  }
}
section#contributors {
  text-align: center;

  h1 {
    color: #353535;
    font-family: 'Delius Unicase',cursive;
    font-size: 3em;
    text-align: center;
  }
  h2 {
    color: #353535;
    font-family: 'Delius Unicase',cursive;
    font-size: 2em;
    text-align: center;
  }
  h5, h4{
    color: #353535;
  }
  h5{
    font-style: italic;
  }
  img.team-image{
    height: 100px;
  }
}

#lesson_comments {
  margin-bottom: 20px;
  padding: 0 100px;

  img {
    height: 64px;
    width: 64px;
  }
  a.btn {
    margin-bottom: 1em;
  }
  .comment-message {
    white-space: pre-line;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

#id_message {
  width: 95%;
}
div.mediapress ul {
  img {
    width: 80%;
  }
  text-align: center;
}