{% extends "base.html" %}
{% block sections  %}
<div class="container" style="text-align: justify;">

<h2 class="title-home">DISFRUTA APRENDIENDO</h2>

<p>¿Cuantas veces has necesitado aprender algo pero no has encontrado el curso adecuado, o si lo has encontrado ha sido a un precio muy elevado para tí? Para resolver estos problemas ha nacido TrainingMe.Net</p>

<p>Mediante este proyecto queremos democratizar la formación de calidad, contando con los mejores docentes y a un precio asequible.</p>

<p>Todos los cursos se realizan mediante videotutoriales, ya que es el sistema con mejor aceptación por parte de los alumnos para la impartición de cursos online. Ya han quedado atrás esos aburridos cursos online con distintos archivos pdf y cuestionarios de autoevaluación que se enviaban mediante la plataforma o email. </p>

<p>Cada curso antes de estar publicados y ponerse a la venta, pasan por la fase de evaluación. Mediante esta fase los 5 primeros alumnos que se matriculen lo realizarán de forma totalmente gratuita, una vez haya sido evaluado y si consigue una puntuación mínima pasará a ser publicado para poder ser adquirido. </p>

<p>Es importante que nos ayudes a difundir este proyecto, ya que cuantas más personas hayan aprendiendo más docentes querrán enseñar a través de esta plataforma, aumentando así el número de cursos a tu alcance.</p>
</div>
{% endblock sections %}
