{% extends "base.html" %}
{% block sections  %}
    <section class="aprendiendo-page-head">
        <div class="container">
            <div class="row-fluid">
                <div class="span7">
                    <img src="{{ STATIC_URL }}img/disfrutaaprendiendo.png" alt="Disfruta Aprendiendo" title="Disfruta Aprendiendo"/>
                </div>
                <div class="span5">
                    <iframe id="teach_player" type="text/html" width="100%" height="300px"  autoplay="" src="https://www.youtube.com/embed/750_QeNy9sk?autoplay=1&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" allowfullscreen="">Tu navegador no soporta Iframes</iframe>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container page-description-justify">
            <h5>¿Cuantas veces has necesitado aprender algo pero no has encontrado el curso adecuado, o si lo has encontrado ha sido a un precio muy elevado para tí? Para resolver estos problemas ha nacido TrainingMe.Net</h5>
            <p>Mediante este proyecto queremos democratizar la formación de calidad, contando con los mejores docentes y a un precio asequible.</p>
            <p>Todos los cursos se realizan mediante videotutoriales, ya que es el sistema con mejor aceptación por parte de los alumnos para la impartición de cursos online. Ya han quedado atrás esos aburridos cursos online con distintos archivos pdf y cuestionarios de autoevaluación que se enviaban mediante la plataforma o email. </p>
            <p>Cada curso antes de estar publicados y ponerse a la venta, pasan por la fase de evaluación. Mediante esta fase los 5 primeros alumnos que se matriculen lo realizarán de forma totalmente gratuita, una vez haya sido evaluado y si consigue una puntuación mínima pasará a ser publicado para poder ser adquirido. </p>
            <p>Es importante que nos ayudes a difundir este proyecto, ya que cuantas más personas hayan aprendiendo más docentes querrán enseñar a través de esta plataforma, aumentando así el número de cursos a tu alcance.</p>
            <h5>5 razones para enseñar con TrainingMe.Net</h5>
            <dl>
                <dt>Registro gratuito.</dt>
                <dd>Regístrate de forma totalmente gratuita, evalúa nuestra herramienta y crea cursos sin costes. TrainingMe.Net sólo cobra un porcentaje de cada venta.</dd>
                <dt>Precios razonables.</dt>
                <dd>Los precios son marcados por los profesores, pero intentamos orientarlos para que ajusten el precio de forma que puedan estar al alcance del mayor número de personas posible.</dd>
                <dt>Profesores expertos.</dt>
                <dd>La mayoría de los docentes que están contactando con nosotros, son expertos en la materia que imparten, bien porque son profesionales de la misma o imparten formación sobre ello.</dd>
                <dt>Lecciones abiertas.</dt>
                <dd>Los docentes tienen la posibilidad de poner algunas lecciones de forma pública, por lo que podrás aprender ciertas lecciones y valorar como es la impartición de ese profesor.</dd>
                <dt>Solidaridad.</dt>
                <dd>El 10% de todas las compras que realices irán destinadas a proyectos de educación social, ayudando a muchas personas a recibir la formación que necesitan.</dd>
            </dl>
        </div>
    </section>
{% endblock sections %}