{% extends "pages/social_projects.html" %}
{% block sections  %}
<div class="container" style="text-align: justify;">
<h2 class="title-home">DISFRUTA AYUDANDO</h2>
<p>Es una de los pilares de este proyecto, su caracter social. Tenemos la firme convicción que entre todos podemos ayudar a quién más lo necesita. Por ello, el 10% de cada venta de curso irá destinado a proyectos sociales de educación. </p>

<p>Todos los proyectos en los que colaboremos estarán promovidos por importantes Organizaciones No Gubernamentales (ONG), siendo la transparencia y el compromiso con este tipo de proyectos piedras filosofales de sus acciones.</p>

<p>Con el fin de conseguir objetivos concretos, iremos proponiendo cantidades de dinero y proyectos a los que irán destinados. Estos objetivos conforme se vayan consiguiendo dejaran paso a otros proyectos que también necesitan de toda nuestra ayuda.</p>

<p>Ayúdanos a dar conocer este proyecto, mientras más personas colaboremos, mejores resultados obtendremos y aumentar el número de beneficiarios.</p>
<p><a href="{{ STATIC_URL }}pdf/proyecto-niger.pdf">Pincha aquí para ver los primeros proyectos en los que vamos a colaborar</a></p>
</div>
{{ block.super }}
{% endblock sections %}