{% extends "base.html" %}
{% block sections  %}
    <section class="ensenando-page-head">
        <div class="container">
            <div class="row-fluid">
                <div class="span7">
                    <img src="{{ STATIC_URL }}img/disfrutaensenando.png" alt="Disfruta Enseñando" title="Disfruta Enseñando"/>
                </div>
                <div class="span5">
                    <iframe id="teach_player" type="text/html" width="100%" height="300px"  autoplay="" src="https://www.youtube.com/embed/8LqLCLHDACs?autoplay=1&amp;controls=0&amp;rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" allowfullscreen="">Tu navegador no soporta Iframes</iframe>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container page-description-justify">
            <h5>¿Eres experto en alguna materia?, ayuda a más personas a adquirir los conocimientos que tú posees y mejore así sus competencias profesionales.</h5>
            <p>Estamos en un momento en el que la formación es imprescindible pero no está al alcance de todas las personas. Mediante esta plataforma queremos aglutinar a un gran número de alumnos con necesidades formativas similares de modo que impartiendo un videocurso a un precio inferior sea altamente rentable por el número de alumnos.</p>
            <p>Con nuestra herramienta no sólo podrás vender tus cursos online, sino que además podrás crear tu perfil como docente y darte a conocer mediante las distintas redes sociales. Si eres un buen docente tendrás alumnos que te sigan y que puedan ver todos los cursos que tienes disponible.</p>
            <p>Recuerda, no se trata de producir muchos cursos sino de realizar cursos de calidad, ya que la valoración media de cada curso influirá en la valoración media de tu perfil.</p>
            <p>Dicho esto, puedes comenzar a crear tus cursos ahora mismo, de forma sencilla y sin costes.</p>
            <p>Finalmente, recordarte que es importante que nos ayudes a difundir este proyecto, ya que cuantas más personas estén inscritas a la plataforma, mayor será el número de alumnos que puedan suscribirse a tus cursos.</p>
            <h5>5 razones para aprender con TrainingMe.Net</h5>
            <dl>
                <dt>Cursos de calidad.</dt>
                <dd>Todos nuestros cursos pasan una fase de revisión por nuestro personal, donde evaluamos tanto la calidad de los vídeos como la coherencia de los contenidos. Posteriormente, pasa a una fase de evaluación por parte de los 5 primeros alumnos que se matriculan. Sólo en el caso de que consiga una nota suficiente, puede ser publicado y vendido.</dd>
                <dt>Herramienta fácil y rápida. </dt>
                <dd>Hemos creado una sencilla herramienta para realizar tus cursos, no hace falta que tengas altos conocimientos técnicos para ello. Una vez tengas tus videotutoriales podrás crear tu curso en cuestión de minutos.</dd>
                <dt>Aumentar tus ingresos.</dt>
                <dd>TrainingMe.Net se dirige a un mercado global, no tiene fronteras, por lo que podrán comprar tu curso desde cualquier parte del mundo.</dd>
                <dt>Ayudar a mejorar tu marca personal.</dt>
                <dd>El hecho de que consigas realizar un curso y que este curso sea un éxito, ayudará a mejorar tu marca personal, pudiendo ser una gran oportunidad en un mundo tan competitivo como en el que vivimos.</dd>
                <dt>Solidaridad.</dt>
                <dd>El 10% de todas las ventas que realices irán destinadas a proyectos de educación social, ayudando a muchas personas a recibir la formación que necesitan.</dd>
            </dl>
        </div>
    </section>
{% endblock sections %}