{% extends "base.html" %}
{% block sections  %}
    <section>
        <div class="container MainTitle">
            <h1>Preguntas Frecuentes</h1>
        </div>
    </section>
    <section>
        <div class="container page-description-justify">
            <h4>Para alumnos</h4>
            <dl>
                <dt>¿Todos los cursos son en formato de videotutoriales?</dt>
                <dd>Así es, creemos que es la forma más parecida a las clases presenciales, siéndo muy dinámicas y fáciles de seguir.</dd>
                <dt>¿Existen cursos gratuitos?</dt>
                <dd>Todos los cursos cuando un docente realiza su lanzamiento, pasan a ser revisados por nuestro personal, y posteriormente son evaluados por los 5 primeros usuarios que se matriculen en el curso. No podrás hacer búsquedas por cursos en fase de evaluación, pero si entras en un curso que te interesa y está en fase de evaluación, ¡¡enhorabuena¡¡ podrás hacer el curso sin costes. Pero no tardes mucho en evaluarlo, recuerda que hay alguien esperando a que lo hagas ;)</dd>
                <dt>¿Hay alguna forma de solicitar un curso que no está en el catálogo?</dt>
                <dd>Sí, de momento puedes hacerlo en la sección Feedback, cuando recibamos varios con la misma petición buscaremos un docente para realizar la propuesta de desarrollo del curso.</dd>
                <dt>Si me matriculo en un curso y luego no estoy satisfecho, ¿me delvuelven el dinero?</dt>
                <dd>Sí, si no estás satisfecho con un curso que comprastes tienes 30 dias para ponerte en contacto con nosotros y pedir la devolución del dinero.</dd>
                <dt>¿Como sabré si el curso es bueno antes de comprarlo?</dt>
                <dd>Todos los cursos antes de ponerse a la venta, son evaluados por 5 alumnos. Además, en muchas ocasiones puedes ver los comentarios de otros alumnos, quien es el docente, los videos que tenga publicos, y una serie de información que puede darte una pista sobre la calidad del curso.</dd>
                <dt>¿Podré descargarme los vídeos de los cursos?</dt>
                <dd>Esto también será decisión del profesor, nuestra recomendación es que se permita la descarga de las clases para que el alumno la pueda llevar consigo y disfrutarla en cualquier momento.</dd>
                <dt>¿Que tiempo tengo para hacer los cursos?</dt>
                <dd>Ilimitado, una vez te matriculas en el curso siempre podrás acceder a él</dd>
            </dl>

            <h4>Para docentes</h4>
            <dl>
                <dt>¿Quien decide el precio de los cursos?</dt>
                <dd>Tú y solamente tú. Nosotros te indicaremos cual es nuestro punto de vista, pero sólo para que lo puedas tomar en cuenta, tu éxito en número de alumnos es el nuestro, ¡Perseguimos el mismo objetivo!</dd>
                <dt>¿Cuanto dinero gana el profesor realmente?</dt>
                <dd>El profesor gana un 70 % del precio final del curso, recuerda que las primeras 5 matriculas serán gratuitas para que tu curso pueda ser valorado rápidamente. El porcentaje que gana TrainingMe.NET es sólamente para poder llevar el mantenimiento y mejora del proyecto, recuerda que está dirigido por Fundación Guadalux y no tenemos ánimo de lucro, sólo queremos aportar nuestro granito de arena.</dd>
                <dt>¿Se podrán descargar los vídeos que he realizado?</dt>
                <dd>Esto será decisión tuya. Creemos que el alumno debe tener la facilidad de poder llevarse la clase a donde desee y verla cuando desee (metro, mientras viaja,...) es algo que sabemos que los alumnos valoran positivamente y puede ser uno de los puntos importante en la toma de decisión a la hora de elegir un curso u otro.</dd>
                <dt>¿Todos los cursos deben ser con videoturoriales?</dt>
                <dd>Así es. Los cursos se componen de lecciones y las lecciones deben tener videos que pueden ser acompañados de material de apoyo (archivos pdf, presentaciones, apuntes,..)</dd>
                <dt> Desde que termino de subir el curso hasta que puedo venderlo, ¿que tiempo puede pasar?</dt>
                <dd>Esto no depende sólo de nosotros. Una vez que el curso se ha subido completamente, se pasa a fase de revisión (esta revisión la hacemos nosotros, la duración puede ser de unas 48 horas), posteriormente a fase de evaluación por los 5 primeros alumnos. En todo momento alertaremos al alumno para que no demore mucho su evaluación del curso.</dd>
            </dl>
        </div>
    </section>
{% endblock sections %}