{% extends "base.html" %}
{% block sections  %}
    <section>
        <div class="container MainTitle">
            <h1>Misión, Visión  y Valores</h1>
        </div>
    </section>
    <section>
        <div class="container page-description-justify">
            <h4>Misión</h4>
            <p>Facilitar la impartición de enseñanza online de calidad a bajo coste, proporcionando una herramienta sencilla que sea un punto de encuentro entre personas que desean enseñar y aprender.</p>

            <h4>Visión</h4>
            <p>Ser la mayor plataforma de enseñanza online, colaborando a su vez con proyectos sociales que ayuden a mejorar la educación de las personas que más lo necesitan.</p>
            <h4>Valores</h4>
            <ul>
                <li>Pasión por la enseñanza online</li>
                <li>Innovación constante</li>
                <li>Solidaridad</li>
                <li>Integridad</li>
                <li>Comunicación cercana</li>
            </ul>
        </div>
    </section>
{% endblock sections %}