{% extends "base.html" %}
{% block sections  %}
    <section>
        <div class="container MainTitle">
            <h1>Proyectos Sociales de Educación</h1>
        </div>
    </section>
    <section id="social-projects">
        <div class="container">
            <img class="social-now img-polaroid" src="{{ STATIC_URL }}img/social-school-image.jpeg" title="Social Projects" alt="Social Projects"/>
            <div class="row social-now-titles">
                <div class="title-now-project span8">
                    <span>Mejora de la calidad Educativa en Niger</span>
                </div>
                <div class="image-logo span4">
                    <span>ONG Save the Children</span>
                </div>
            </div>
            <div class="progress-project">
                <div class="progress">
                    <div class="bar" style="width: 0%;"></div>
                </div>
                <span class="pull-left">0 &euro;</span>
                <span class="pull-right">3000 &euro;</span>
            </div>
            <div class="description-project">
                <h4>Descripción del Proyecto</h4>
                <p>Durante el curso del año 2012, el sistema educativo en Níger ha sufrido cuatro emergencias:

                    1. Más de 47.000 niños abandonaron la escuela durante la crisis alimentaria.
                    2. Los refugiados y retornados de Malí después de la crisis socio-política que azota al país vecino desde marzo de 2012.
                    3. La vuelta masiva de familias de Libia tras la crisis durante el primer trimestre del año pasado.
                    4. Las inundaciones durante el tercer trimestre del año.

                    El objetivo general del proyecto es reducir el impacto negativo en la educación a través de la donación de material didáctico y pupitres a las escuelas, las más afectadas y degradadas por la ocupación de familias tras las inundaciones de octubre 2012 en Niamey, Níger.</p>
                <p>Para más información sobre este proyecto pinche <a href="{{ STATIC_URL }}pdf/proyectos-niger.pdf" target="_blank">aquí</a></p>
            </div>
            <div class="now-project-info row">
                <div class="span4">
                    <div class="obtenido">Obtenido</div>
                    <p>0 &euro;</p>
                </div>
                <div class="span4">
                    <div class="percent">Porcentaje</div>
                    <p>0 &percnt;</p>
                </div>
                <div class="span4">
                    <div class="enrrolments">Matriculaciones</div>
                    <p>0</p>
                </div>
            </div>
        </div>
    </section>
{% endblock sections %}