{% load url from future %}{% load i18n %}
<div>
    <img src="http://trainingme.net/static/img/trainingme_emaillogo.png" />
</div>
<br/><br/>

<p>{% block trans %}
    The course {{ course.title }} has been sent to Checking Process
    {% endblock %}
</p>

<p>{% trans 'Check it and have feedback with the teacher via email ( if he have email) or messaging system .' %}</p>


<ul>
    <li>{% trans 'Teacher Username' %}: {{ course.user.username }}</li>
    <li>{% trans 'Teacher Name' %}: {{ course.user.get_full_name }}</li>
    <li>{% trans 'Teacher Email' %}:  {{ course.user.email }}</li>
</ul>

<br/><br/>
<hr color="#000066" width="100%">
<table width="34%" border="0">
    <tbody>
    <tr>
        <td><i><b>Trainingme.Net Team</b></i></td></tr>
    <tr>
        <td><a href="http://www.trainingme.net" target="_blank">www.trainingme.net</a><br></td></tr></tbody></table></div></div></div>
</br>
</div>