{% load url from future %}{% load i18n %}
<div>
    <img src="http://trainingme.net/static/img/trainingme_emaillogo.png" />
</div>
<br/><br/>

<p>{% trans 'Hi,' %}{{ tester.get_full_name }}</p>
<p>{% trans 'You have been unenrolled in ' %}{{ couse.title }}</p>
<p>{% trans 'because you have not rated it in the last 30 days.' %}</p>
<br/>
<p>{% trans 'We hope you rate the next courses.' %}</p>
<p>{% trans 'Thank you' %}</p>

<br/><br/>
<hr color="#000066" width="100%">
<table width="34%" border="0">
    <tbody>
    <tr>
        <td><i><b>Trainingme.Net Team</b></i></td></tr>
    <tr>
        <td><a href="http://www.trainingme.net" target="_blank">www.trainingme.net</a><br></td></tr></tbody></table></div></div></div>
</br>
</div>
