{% load url from future %}{% load i18n %}
<div>
    <img src="http://trainingme.net/static/img/trainingme_emaillogo.png" />
</div>
<br/><br/>

{% trans 'Hola,' %}{{ tester.get_full_name }}
{% trans 'Has sido desmatriculado del curso ' %}{{ couse.title }}
{% trans 'ya que no lo has valorado desde hace 30 días.' %}

{% trans 'Esperamos que valores próximos cursos' %}

<br/><br/>
<hr color="#000066" width="100%">
<table width="34%" border="0">
    <tbody>
    <tr>
        <td><i><b>Trainingme.Net Team</b></i></td></tr>
    <tr>
        <td><a href="http://www.trainingme.net" target="_blank">www.trainingme.net</a><br></td></tr></tbody></table></div></div></div>
</br>
</div>
