{% load url from future %}{% load i18n %}
<div dir="ltr"><div dir="ltr"><div dir="ltr"><div>
    <img src="http://trainingme.net/static/img/trainingme_emaillogo.png" />
    <br></div><div><br></div><div><br></div><div><br></div><div><br></div><d=iv><br>
<br>

{% blocktrans  %}
    The User {{ student.get_full_name }}
    with email {{ student.email }}
    has purchased your course: {{ course.title }}
{% endblocktrans %}

<hr color="#000066" width="100%">
<table width="34%" border="0">
  <tbody>
    <tr>
      <td><i><b>Trainingme.Net Team</b></i></td></tr>
    <tr>
      <td><a href="http://www.trainingme.net" target="_blank">www.trainingme.net</a><br></td></tr></tbody></table></div></div></div>
</br>
</div>
