{% load url from future %}{% load i18n %}
<img src="http://trainingme.net/static/img/trainingme_emaillogo.png" />

{% trans 'Gracias por comprar el curso ' %}{{ course.title }}
{% trans 'Ya puedes acceder a los contenidos' %}

{% trans 'Recuerda que tienes 30 días para devolver el curso' %}

<br/><br/>
<hr color="#000066" width="100%">
<table width="34%" border="0">
<tbody>
<tr>
    <td><i><b>Trainingme.Net Team</b></i></td></tr>
<tr>
    <td><a href="http://www.trainingme.net" target="_blank">www.trainingme.net</a><br></td></tr></tbody></table></div></div></div>
</br>
</div>